header#header {
  position: relative;
  z-index: 999;
  background: #fff; }

/* Primary Navigation Global
-------------------------------------------------- */
.primary-nav-wrap .container nav.primary-nav ul {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }
.primary-nav-wrap .container nav.primary-nav a {
  text-transform: uppercase; }
.primary-nav-wrap .container nav.primary-nav .menu-child {
  display: none; }

/* Primary Navigation Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {
  .primary-nav-wrap {
    display: block !important;
    background: #313131;
    color: #ababab;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; }
    .primary-nav-wrap .container ul.primary-menu {
      position: relative;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px; }
      .primary-nav-wrap .container ul.primary-menu li {
        display: inline-block;
        background: #313131;
        padding-bottom: 1px; }
        .primary-nav-wrap .container ul.primary-menu li a {
          display: block;
          margin: 0px 20px 0px 20px;
          padding: 15px 0px 15px 0px;
          font-size: 12px;
          font-weight: 900;
          line-height: 1;
          color: #fff;
          text-decoration: none !important; }
        .primary-nav-wrap .container ul.primary-menu li a:hover {
          margin: 0px 20px 0px 20px;
          padding: 15px 0px 15px 0px; }
      .primary-nav-wrap .container ul.primary-menu li:hover {
        border-bottom: 1px solid #fff;
        padding-bottom: 0px; }
      .primary-nav-wrap .container ul.primary-menu li.has-children .menu-child {
        display: none !important;
        position: absolute;
        top: 43px;
        left: 0;
        background: #313131;
        padding: 15px 25px 25px 25px; }
        .primary-nav-wrap .container ul.primary-menu li.has-children .menu-child ul {
          margin-top: 5px; }
          .primary-nav-wrap .container ul.primary-menu li.has-children .menu-child ul li {
            display: block;
            clear: both;
            float: none;
            margin: 0px 0px;
            padding: 0px 0px; }
            .primary-nav-wrap .container ul.primary-menu li.has-children .menu-child ul li a {
              display: inline-block;
              margin: 0px 0px 0px 0px;
              padding: 0px 0px 0px 0px;
              font-size: 12px;
              font-weight: 900;
              line-height: 1;
              color: #ababab; }
            .primary-nav-wrap .container ul.primary-menu li.has-children .menu-child ul li a:hover {
              margin: 0px 0px 0px 0px;
              padding: 0px 0px 0px 0px;
              border-bottom: none;
              color: #fff; }
          .primary-nav-wrap .container ul.primary-menu li.has-children .menu-child ul li:hover {
            border: none; }
        .primary-nav-wrap .container ul.primary-menu li.has-children .menu-child h4.menu-item-sub-head {
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 400;
          padding: 0px 0px 0px 0px;
          margin: 12px 0px 0px 0px; }
      .primary-nav-wrap .container ul.primary-menu li.has-children:hover .menu-child {
        display: block !important; }
      .primary-nav-wrap .container ul.primary-menu li.mobile-only {
        display: none !important; }
    .primary-nav-wrap .column-head {
      font-family: 'questaregular';
      color: #ababab;
      display: block;
      clear: both;
      float: none;
      padding-top: 15px; }
      .primary-nav-wrap .column-head h3 {
        color: #ababab !important;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
        font-style: italic; }
        .primary-nav-wrap .column-head h3 a {
          font-size: 24px !important;
          font-style: italic !important;
          color: #ababab !important;
          font-weight: 500 !important;
          line-height: 1.1 !important;
          margin: 0px 0px 0px 0px !important;
          padding: 0px 0px !important;
          text-transform: none !important; }
        .primary-nav-wrap .column-head h3 a:hover {
          color: #fff !important; }
      .primary-nav-wrap .column-head hr {
        margin: 13px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-top: 1px solid #ababab; }
    .primary-nav-wrap h4.menu-item-sub-head {
      color: #ababab !important; }
    .primary-nav-wrap span.toggle-down {
      display: none !important; }
    .primary-nav-wrap span.toggle-up {
      display: none !important; }

  .menu-child {
    #display: none; }

  .head-lower {
    display: block !important; } }
/* Primary Navigation Tablet
-------------------------------------------------- */
/* Primary Navigation Mobile
-------------------------------------------------- */
@media all and (max-width: 768px) {
  .primary-nav-wrap {
    display: none; }
    .primary-nav-wrap .container {
      padding-right: 0;
      padding-left: 0; }
      .primary-nav-wrap .container ul.primary-menu {
        margin-bottom: 0;
        padding-left: 0; }
        .primary-nav-wrap .container ul.primary-menu li {
          display: block;
          clear: both;
          float: none;
          background: #313131;
          border-bottom: 1px solid #676666; }
          .primary-nav-wrap .container ul.primary-menu li a {
            color: #fff;
            padding: 0px 15px;
            line-height: 38px; }
          .primary-nav-wrap .container ul.primary-menu li ul {
            display: block; }
      .primary-nav-wrap .container li.mobile-only {
        display: block !important; }
      .primary-nav-wrap .container .menu-child ul,
      .primary-nav-wrap .container .menu-child ul li {
        background: #fff;
        border-bottom: none;
        margin: 0px 0px 0px 0px;
        padding: 5px 0px 5px 0px; }
      .primary-nav-wrap .container .menu-child ul li a {
        color: #313131;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        line-height: 1;
        font-weight: 900;
        font-size: 14px; }
    .primary-nav-wrap .column-head {
      font-family: 'questaregular';
      color: #ababab;
      display: block;
      clear: both;
      float: none;
      padding-top: 15px; }
      .primary-nav-wrap .column-head h3,
      .primary-nav-wrap .column-head h3 a {
        color: #313131 !important;
        margin: 0px 0px 0px 0px !important;
        padding: 0px 0px !important;
        font-style: italic !important;
        text-transform: none !important; }
      .primary-nav-wrap .column-head hr {
        margin: 13px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-top: 1px solid #ababab; }
    .primary-nav-wrap .menu-child {
      background: #fff;
      display: none;
      padding: 10px 15px 40px 15px; }
    .primary-nav-wrap h4.menu-item-sub-head {
      font-size: 12px;
      padding-top: 13px;
      text-transform: uppercase;
      font-weight: 400; }
    .primary-nav-wrap span.toggle-down {
      background: #313131 url("../img/toggle-down.png") 0px 50% no-repeat;
      display: inline-block;
      float: right;
      clear: right;
      height: 38px;
      width: 30px;
      margin-right: 15px;
      cursor: pointer !important; }
    .primary-nav-wrap span.toggle-up {
      background: #313131 url("../img/toggle-up.png") 0px 50% no-repeat;
      display: inline-block;
      float: right;
      clear: right;
      height: 38px;
      width: 30px;
      margin-right: 15px;
      cursor: pointer !important; }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(49, 49, 49, 0.95);
    z-index: 998;
    width: 100%;
    height: 100%;
    display: none; }

  .head-lower {
    display: none; } }
/* ...Global Global
-------------------------------------------------- */
.comments-wrap ul {
  list-style-type: none; }

input.afcpe-btn {
  border: none !important; }

/* Global Desktop
-------------------------------------------------- */
/* Global Mobile
-------------------------------------------------- */
/* Header
-------------------------------------------------- */
@media all and (min-width: 768px) {
  header#header,
  #header {
    display: block;
    clear: both;
    float: none; }
    header#header .head-upper,
    #header .head-upper {
      display: block;
      clear: both;
      float: none; }
      header#header .head-upper .container,
      #header .head-upper .container {
        display: block;
        clear: both;
        float: none;
        padding-top: 36px;
        padding-right: 0;
        padding-left: 0; }
        header#header .head-upper .container .left,
        #header .head-upper .container .left {
          display: none; }
        header#header .head-upper .container .middle,
        #header .head-upper .container .middle {
          display: inline-block;
          float: left;
          width: 473px; }
          header#header .head-upper .container .middle .logo-wrap h1#logo,
          #header .head-upper .container .middle .logo-wrap h1#logo {
            background: url("../img/afcpe-logo-full.png") no-repeat 0 0;
            height: 85px;
            width: 473px;
            text-indent: -2000px;
            font-size: 0em;
            line-height: 0em;
            overflow: hidden;
            margin-top: 0;
            margin-bottom: 0; }
            header#header .head-upper .container .middle .logo-wrap h1#logo a,
            #header .head-upper .container .middle .logo-wrap h1#logo a {
              height: 100%;
              width: 100%;
              display: block; }
        header#header .head-upper .container .right,
        #header .head-upper .container .right {
          display: inline-block;
          width: 366px;
          float: right;
          height: 100%; }
          header#header .head-upper .container .right .mobile,
          #header .head-upper .container .right .mobile {
            display: none; }
          header#header .head-upper .container .right nav#header-inner,
          #header .head-upper .container .right nav#header-inner {
            display: inline-block; }
            header#header .head-upper .container .right nav#header-inner ul,
            #header .head-upper .container .right nav#header-inner ul {
              list-style-type: none;
              padding-left: 0;
              margin-bottom: 0; }
              header#header .head-upper .container .right nav#header-inner ul li,
              #header .head-upper .container .right nav#header-inner ul li {
                display: inline-block; }
                header#header .head-upper .container .right nav#header-inner ul li a,
                #header .head-upper .container .right nav#header-inner ul li a {
                  color: #686868 !important;
                  text-decoration: none !important;
                  font-weight: 900; }
              header#header .head-upper .container .right nav#header-inner ul li.first:after,
              #header .head-upper .container .right nav#header-inner ul li.first:after {
                content: '|';
                color: #aac5df;
                padding-right: 1px;
                padding-left: 5px; }
              header#header .head-upper .container .right nav#header-inner ul li.last:after,
              #header .head-upper .container .right nav#header-inner ul li.last:after {
                content: none; }
          header#header .head-upper .container .right nav#header-login,
          #header .head-upper .container .right nav#header-login {
            background: #6799c8;
            display: inline-block;
            padding: 25px 15px 15px 15px;
            margin: 0px 0px 0px 30px;
            width: 177px; }
            header#header .head-upper .container .right nav#header-login ul,
            #header .head-upper .container .right nav#header-login ul {
              text-align: right;
              list-style-type: none;
              padding-left: 0;
              margin-left: 0;
              margin-bottom: 0; }
              header#header .head-upper .container .right nav#header-login ul li a,
              #header .head-upper .container .right nav#header-login ul li a {
                color: #fff !important;
                text-decoration: none !important; }
              header#header .head-upper .container .right nav#header-login ul li.first a,
              #header .head-upper .container .right nav#header-login ul li.first a {
                font-weight: 900;
                font-size: 110%;
                line-height: 1.7; }
    header#header .head-lower .search-wrap,
    #header .head-lower .search-wrap {
      height: 38px;
      background: #f0f0f0; }
      header#header .head-lower .search-wrap form#searchform,
      #header .head-lower .search-wrap form#searchform {
        height: 38px;
        float: right; }
        header#header .head-lower .search-wrap form#searchform input::-webkit-input-placeholder,
        #header .head-lower .search-wrap form#searchform input::-webkit-input-placeholder {
          color: #847f7f !important; }
        header#header .head-lower .search-wrap form#searchform input:-moz-placeholder,
        #header .head-lower .search-wrap form#searchform input:-moz-placeholder {
          /* Firefox 18- */
          color: #847f7f !important; }
        header#header .head-lower .search-wrap form#searchform input::-moz-placeholder,
        #header .head-lower .search-wrap form#searchform input::-moz-placeholder {
          /* Firefox 19+ */
          color: #847f7f !important; }
        header#header .head-lower .search-wrap form#searchform input:-ms-input-placeholder,
        #header .head-lower .search-wrap form#searchform input:-ms-input-placeholder {
          color: #847f7f !important; }
        header#header .head-lower .search-wrap form#searchform input,
        #header .head-lower .search-wrap form#searchform input {
          text-align: right;
          background: #f0f0f0;
          color: #847f7f !important;
          height: 100%;
          border: none;
          margin: 0;
          padding: 0px 10px 0px 0px;
          font-size: 18px;
          letter-spacing: 1px; }
        header#header .head-lower .search-wrap form#searchform button,
        #header .head-lower .search-wrap form#searchform button {
          background: url("../img/search-icon.png") no-repeat 0 4px;
          width: 22px;
          text-indent: -2000px;
          font-size: 0em;
          line-height: 0em;
          overflow: hidden;
          margin: 0;
          padding: 0;
          height: 100%;
          border: none; }

  .mobile-search-wrap {
    display: none; } }
@media all and (max-width: 991px) and (min-width: 768px) {
  header#header,
  #header {
    display: block;
    clear: both;
    float: none; }
    header#header .head-upper,
    #header .head-upper {
      display: block;
      clear: both;
      float: none; }
      header#header .head-upper .container,
      #header .head-upper .container {
        display: block;
        clear: both;
        float: none; }
        header#header .head-upper .container .left,
        #header .head-upper .container .left {
          display: none; }
        header#header .head-upper .container .middle,
        #header .head-upper .container .middle {
          display: inline-block;
          float: left;
          width: 133px; }
          header#header .head-upper .container .middle .logo-wrap h1#logo,
          #header .head-upper .container .middle .logo-wrap h1#logo {
            background: url("../img/afcpe-logo-part.png") no-repeat 0 0;
            height: 85px;
            width: 133px;
            text-indent: -2000px;
            font-size: 0em;
            line-height: 0em;
            overflow: hidden; }
            header#header .head-upper .container .middle .logo-wrap h1#logo a,
            #header .head-upper .container .middle .logo-wrap h1#logo a {
              height: 100%;
              width: 100%;
              display: block; }
        header#header .head-upper .container .right,
        #header .head-upper .container .right {
          display: inline-block;
          width: 366px;
          height: 100%; }
          header#header .head-upper .container .right .mobile,
          #header .head-upper .container .right .mobile {
            display: none; }

  .mobile-search-wrap {
    display: none; } }
@media all and (max-width: 768px) {
  header#header,
  #header {
    display: block;
    clear: both;
    float: none; }
    header#header .head-upper,
    #header .head-upper {
      display: block;
      clear: both;
      float: none;
      padding: 25px 0; }
      header#header .head-upper .container,
      #header .head-upper .container {
        display: block;
        clear: both;
        float: none;
        height: 85px; }
        header#header .head-upper .container .left,
        #header .head-upper .container .left {
          display: inline-block;
          float: left;
          width: 25%;
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          header#header .head-upper .container .left a.afcpe-nav,
          #header .head-upper .container .left a.afcpe-nav {
            color: #313131 !important;
            font-weight: 900;
            position: relative;
            text-decoration: none !important;
            padding-left: 32px;
            font-size: 16px;
            text-transform: uppercase; }
          header#header .head-upper .container .left a.nav-bars,
          #header .head-upper .container .left a.nav-bars {
            background: url("../img/nav-bars.png") 0 0 no-repeat; }
          header#header .head-upper .container .left a.nav-close,
          #header .head-upper .container .left a.nav-close {
            background: url("../img/nav-close.png") 0 0 no-repeat; }
        header#header .head-upper .container .middle,
        #header .head-upper .container .middle {
          display: inline-block;
          float: left;
          width: 50%; }
          header#header .head-upper .container .middle .logo-wrap h1#logo,
          #header .head-upper .container .middle .logo-wrap h1#logo {
            background: url("../img/afcpe-logo-part.png") no-repeat 0 0;
            height: 85px;
            width: 133px;
            text-indent: -2000px;
            font-size: 0em;
            line-height: 0em;
            overflow: hidden;
            display: block;
            margin: 0 auto; }
            header#header .head-upper .container .middle .logo-wrap h1#logo a,
            #header .head-upper .container .middle .logo-wrap h1#logo a {
              height: 100%;
              width: 100%;
              display: block; }
        header#header .head-upper .container .right,
        #header .head-upper .container .right {
          display: inline-block;
          float: left;
          width: 25%;
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          header#header .head-upper .container .right .desktop,
          #header .head-upper .container .right .desktop {
            display: none; }
          header#header .head-upper .container .right .mobile,
          #header .head-upper .container .right .mobile {
            text-align: right; }
            header#header .head-upper .container .right .mobile a.login-link,
            #header .head-upper .container .right .mobile a.login-link {
              color: #313131 !important;
              font-weight: 900;
              position: relative;
              text-decoration: none !important;
              font-size: 16px;
              text-transform: uppercase; }
    header#header .head-lower .search-wrap,
    #header .head-lower .search-wrap {
      display: none; }

  .mobile-search-wrap {
    height: 38px;
    background: #f0f0f0; }
    .mobile-search-wrap form#searchform {
      height: 38px; }
      .mobile-search-wrap form#searchform input::-webkit-input-placeholder {
        color: #847f7f !important; }
      .mobile-search-wrap form#searchform input:-moz-placeholder {
        /* Firefox 18- */
        color: #847f7f !important; }
      .mobile-search-wrap form#searchform input::-moz-placeholder {
        /* Firefox 19+ */
        color: #847f7f !important; }
      .mobile-search-wrap form#searchform input:-ms-input-placeholder {
        color: #847f7f !important; }
      .mobile-search-wrap form#searchform input {
        background: #f0f0f0;
        color: #847f7f !important;
        height: 100%;
        border: none;
        margin: 0;
        padding: 0px 10px 0px 0px;
        font-size: 18px;
        letter-spacing: 1px; }
      .mobile-search-wrap form#searchform button {
        background: url("../img/search-icon.png") no-repeat 0 4px;
        width: 22px;
        text-indent: -2000px;
        font-size: 0em;
        line-height: 0em;
        overflow: hidden;
        margin: 0;
        padding: 0;
        height: 100%;
        border: none; } }
/* Home Page / front-page.php
-------------------------------------------------- */
.news-trends {
  background: #f8f8f8; }

a.featured-post-link {
  font-size: 18px;
  font-weight: 900;
  color: #313131 !important;
  text-decoration: none !important;
  margin: 20px 0 -20px 0;
  display: block; }

ul.featured-post-social {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 20px; }
  ul.featured-post-social li {
    display: inline-block;
    padding-right: 17px; }

h3.goudy {
  color: #4e4746; }

@media all and (min-width: 768px) {
  .intro-copy {
    padding: 50px 0;
    line-height: 1.7;
    font-size: 22px;
    font-weight: 300;
    max-width: 956px;
    margin: 0 auto; }

  .content-blocks-wrap {
    display: block;
    width: 1020px;
    margin: 0px auto;
    padding-bottom: 50px; }
    .content-blocks-wrap .content-block {
      padding-bottom: 50px;
      max-width: 340px;
      display: inline-block;
      float: left;
      padding: 0 10px; }

  .news-trends-wrap {
    display: block;
    clear: both;
    float: none;
    background: #f8f8f8;
    padding: 50px 0; }
    .news-trends-wrap .container {
      display: block;
      max-width: 1280px;
      margin: 0 auto;
      padding: 0px 0px 0px 0px;
      color: #313131; }
      .news-trends-wrap .container h2 {
        margin: 0 0 0 0;
        padding: 0 0 0 0; }
      .news-trends-wrap .container .news-trends {
        display: block;
        max-width: 1040px;
        margin: 0 auto; }
        .news-trends-wrap .container .news-trends .featured-post {
          display: inline-block;
          float: left;
          width: 50%;
          padding-right: 5%; } }
@media all and (max-width: 991px) and (min-width: 768px) {
  .intro-copy {
    padding: 50px 50px;
    line-height: 1.7;
    font-size: 18px;
    font-weight: 300; }

  .content-blocks-wrap {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px; }
    .content-blocks-wrap .content-block {
      display: inline-block;
      float: left;
      padding-bottom: 50px;
      width: 33%; } }
@media all and (max-width: 768px) {
  .intro-copy {
    padding: 25px 20px;
    line-height: 1.7;
    font-size: 18px;
    font-weight: 300; }

  .content-blocks-wrap {
    display: block;
    width: 90%;
    margin: 0px auto; }
    .content-blocks-wrap .content-block {
      display: block;
      float: none;
      margin: 0 auto;
      padding-bottom: 50px;
      width: 320px; }

  .news-trends-wrap {
    display: block;
    clear: both;
    float: none;
    background: #f8f8f8;
    padding: 20px 20px; }
    .news-trends-wrap h2 {
      margin: 0 0 0 0;
      padding: 0 0 0 0; }
    .news-trends-wrap hr {
      border-top: 1px solid #e0e1e3; }

  .featured-post {
    display: block;
    max-width: 700px;
    margin: 20px auto; } }
a.learn-more {
  display: block;
  background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
  color: #fff !important;
  padding: 5px 20px;
  font-size: 20px;
  letter-spacing: 1px;
  width: 200px;
  text-decoration: none !important; }

a.learn-more:hover {
  background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%; }

.container {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  color: #313131; }
  .container h2 {
    margin: 0 0 0 0;
    padding: 0 0 0 0; }
  .container hr {
    border-top: 1px solid #e0e1e3; }

@media all and (min-width: 768px) {
  .container {
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    color: #313131; }
    .container h2 {
      margin: 0 0 0 0;
      padding: 0 0 0 0; }
    .container hr {
      border-top: 1px solid #e0e1e3; } }
@media all and (max-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }
/* Home Page Events
-------------------------------------------------- */
@media all and (min-width: 768px) {
  .events-wrap {
    display: block;
    clear: both;
    float: none;
    padding: 50px 0; }
    .events-wrap .container .event {
      margin-bottom: 10px; }
    .events-wrap .container .event-full {
      display: block;
      clear: both;
      float: none;
      width: 100%; }
      .events-wrap .container .event-full .gray {
        background: #f8f8f8;
        padding: 29px 23px; }
      .events-wrap .container .event-full .media .media-left {
        padding-right: 40px; }
      .events-wrap .container .event-full .media h4.month {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-align: center; }
      .events-wrap .container .event-full .media h1.day {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        font-size: 65px;
        line-height: 1; }
      .events-wrap .container .event-full .media a.event-link {
        font-size: 24px;
        line-height: 1; }
      .events-wrap .container .event-full .media p.event-summary {
        margin: 0;
        padding: 0;
        font-size: 17px;
        line-height: 1.2; }
      .events-wrap .container .event-full .media a.event-sign-up {
        font-size: 20px; }
    .events-wrap .container .event-large {
      display: inline-block;
      float: left;
      width: 50%; }
      .events-wrap .container .event-large .gray {
        background: #f8f8f8;
        padding: 29px 23px; }
      .events-wrap .container .event-large .media {
        margin: 5px 10px 5px 10px !important; }
      .events-wrap .container .event-large .media .media-left {
        padding-right: 40px; }
      .events-wrap .container .event-large .media h4.month {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-align: center; }
      .events-wrap .container .event-large .media h1.day {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        font-size: 65px;
        line-height: 1; }
      .events-wrap .container .event-large .media a.event-link {
        font-size: 24px;
        line-height: 1; }
      .events-wrap .container .event-large .media p.event-summary {
        margin: 0;
        padding: 0;
        font-size: 17px;
        line-height: 1.2; }
      .events-wrap .container .event-large .media a.event-sign-up {
        font-size: 20px; }
    .events-wrap .container .event-three-col {
      display: inline-block;
      float: left;
      width: 33.3333333%; }
      .events-wrap .container .event-three-col .gray {
        background: #f8f8f8;
        padding: 29px 23px; }
      .events-wrap .container .event-three-col .media {
        margin: 5px 10px 5px 10px !important; }
        .events-wrap .container .event-three-col .media .media-left {
          padding-right: 15px; }
        .events-wrap .container .event-three-col .media h4.month {
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px;
          text-align: center;
          font-size: 13px;
          line-height: 1; }
        .events-wrap .container .event-three-col .media h1.day {
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px;
          text-align: center;
          font-size: 50px;
          line-height: 1; }
        .events-wrap .container .event-three-col .media a.event-link {
          font-size: 15px;
          line-height: 1; }
        .events-wrap .container .event-three-col .media p.event-summary {
          margin: 0;
          padding: 0;
          font-size: 14px;
          line-height: 1.2; }
        .events-wrap .container .event-three-col .media a.event-sign-up {
          font-size: 20px; }
    .events-wrap .container .event-small {
      display: inline-block;
      float: left;
      width: 25%; }
      .events-wrap .container .event-small .gray {
        background: #f8f8f8;
        padding: 29px 23px; }
      .events-wrap .container .event-small .media {
        margin: 5px 10px 5px 10px !important; }
        .events-wrap .container .event-small .media .media-left {
          padding-right: 15px; }
        .events-wrap .container .event-small .media h4.month {
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px;
          text-align: center;
          font-size: 13px;
          line-height: 1; }
        .events-wrap .container .event-small .media h1.day {
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px;
          text-align: center;
          font-size: 50px;
          line-height: 1; }
        .events-wrap .container .event-small .media a.event-link {
          font-size: 15px;
          line-height: 1; }
        .events-wrap .container .event-small .media p.event-summary {
          margin: 0;
          padding: 0;
          font-size: 14px;
          line-height: 1.2; } }
@media all and (max-width: 768px) {
  .events-wrap {
    padding: 20px; }
    .events-wrap .gray {
      background: #f8f8f8;
      padding: 29px 23px; }
    .events-wrap .media {
      padding: 25px;
      margin-bottom: 20px; }
      .events-wrap .media .media-left {
        padding-right: 40px; }
      .events-wrap .media h4.month {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-align: center; }
      .events-wrap .media h1.day {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        font-size: 65px;
        line-height: 1; }
      .events-wrap .media a.event-link {
        font-size: 18px;
        line-height: 1; }
      .events-wrap .media p.event-summary {
        margin: 0;
        padding: 0;
        font-size: 17px;
        line-height: 1.2; }
      .events-wrap .media a.event-sign-up {
        font-size: 20px; } }
a.full-calendar-link {
  background: url("../img/right-arrow.png") 100% 0 no-repeat;
  padding-right: 37px;
  display: inline-block;
  height: 24px;
  line-height: 15px;
  font-size: 22px;
  margin-top: 25px; }

h2.home-box-title {
  font-size: 26px !important;
  padding-top: 15px !important; }

/* Certification Center
-------------------------------------------------- */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

h2.section-head {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #313131; }

hr.section {
  border-top: 1px solid #b5b4b4; }

hr.dark {
  border-top: 1px solid #b5b4b4; }

a.afcpe-btn,
input.afcpe-btn {
  display: block;
  background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
  color: #fff !important;
  padding: 5px 20px;
  font-size: 20px;
  letter-spacing: 1px;
  width: 310px;
  text-decoration: none !important;
  margin-top: 25px; }

a.afcpe-btn:hover,
input.afcpe-btn:hover {
  background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%; }

.tl-text h2.tl-headline {
  color: red !important; }

@media all and (min-width: 768px) {
  .certification {
    padding: 50px 0 0 0 !important; }

  .benefits-wrap {
    display: block;
    clear: both;
    float: none;
    padding-top: 25px !important;
    padding-bottom: 50px !important; }
    .benefits-wrap .container {
      max-width: 1024px; }
      .benefits-wrap .container .benefits {
        line-height: 1.7;
        margin-top: 20px;
        margin-left: 20px; }
        .benefits-wrap .container .benefits h4 {
          font-weight: 900; }
        .benefits-wrap .container .benefits h5 {
          line-height: 1.7; }
        .benefits-wrap .container .benefits ul {
          margin-left: 0;
          padding-left: 0;
          line-height: 2; }
        .benefits-wrap .container .benefits a.afcpe-btn,
        .benefits-wrap .container .benefits input.afcpe-btn {
          display: block;
          background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
          color: #fff !important;
          padding: 5px 20px;
          font-size: 20px;
          letter-spacing: 1px;
          width: 310px;
          text-decoration: none !important;
          margin-top: 25px; }
        .benefits-wrap .container .benefits a.afcpe-btn:hover,
        .benefits-wrap .container .benefits input.afcpe-btn:hover {
          background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%; }

  .image-wrap {
    display: block;
    clear: both;
    float: none;
    max-width: 1000px;
    margin: 29px auto 50px auto; }

  .program-intro {
    font-size: 18px; }

  .programs-wrap {
    margin-top: 30px; }
    .programs-wrap .left {
      display: inline-block;
      float: left;
      width: 60%;
      padding-right: 10px; }
    .programs-wrap .right {
      display: inline-block;
      float: left;
      width: 40%;
      padding-left: 10px; }
    .programs-wrap .program-head {
      display: block;
      clear: both;
      float: none;
      background: #4e4746; }
      .programs-wrap .program-head h3 {
        color: #fff;
        line-height: 38px;
        padding-left: 15px;
        margin-top: 0;
        margin-bottom: 0; }

  .program-box {
    display: inline-block;
    float: left; }
    .program-box .inner {
      margin: 6px 3px !important;
      background-color: #f0f0f0;
      display: block;
      float: none;
      clear: both;
      padding: 10px 8px; }

  .left .program-box {
    width: 25%; }

  .right .program-box {
    width: 50%; } }
.program-box {
  display: inline-block;
  float: left; }
  .program-box .inner {
    margin: 6px 3px !important;
    background-color: #f0f0f0;
    display: block;
    float: none;
    clear: both;
    padding: 10px 8px; }
  .program-box a.program-title-link {
    font-size: 18px; }

.maintaining-certification-wrap {
  padding: 50px 0; }
  .maintaining-certification-wrap .content {
    line-height: 1.6;
    font-size: 18px; }
  .maintaining-certification-wrap .lists-wrap {
    display: block;
    clear: both;
    float: none;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0; }
    .maintaining-certification-wrap .lists-wrap ul,
    .maintaining-certification-wrap .lists-wrap ol {
      padding-left: 0;
      margin-bottom: 0;
      font-size: 15px;
      line-height: 2; }
    .maintaining-certification-wrap .lists-wrap .cta {
      display: block;
      clear: both;
      float: none;
      padding: 30px 0 0 0; }
      .maintaining-certification-wrap .lists-wrap .cta a.cert-cta-btn {
        display: block;
        background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
        color: #fff !important;
        padding: 5px 20px;
        font-size: 20px;
        letter-spacing: 1px;
        text-decoration: none !important;
        margin-top: 50px; }
      .maintaining-certification-wrap .lists-wrap .cta a.cert-cta-btn:hover {
        background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%; }

@media all and (max-width: 991px) and (min-width: 768px) {
  .left .program-box {
    width: 50%; }

  .right .program-box {
    width: 100%; } }
@media all and (max-width: 768px) {
  .benefits {
    display: block;
    clear: both;
    float: none;
    padding: 29px 0; }

  .image-wrap {
    display: block;
    clear: both;
    float: none;
    max-width: 1000px;
    margin: 29px auto; }

  .programs-wrap .program-box {
    width: 100%;
    display: block;
    clear: both;
    float: none; }
  .programs-wrap .left {
    display: block;
    float: none;
    width: 100%;
    padding: 20px 15px; }
  .programs-wrap .right {
    display: block;
    float: none;
    width: 100%;
    padding: 20px 15px; }
  .programs-wrap .program-head {
    display: block;
    clear: both;
    float: none;
    background: #4e4746;
    margin-bottom: 6px; }
    .programs-wrap .program-head h3 {
      color: #fff;
      line-height: 38px;
      padding-left: 15px; }

  .maintaining-certification-wrap {
    padding: 50px 0; }
    .maintaining-certification-wrap .content {
      line-height: 1.6;
      font-size: 14px; }

  .lists-wrap {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important; }
    .lists-wrap .cta {
      display: block;
      clear: both;
      float: none;
      padding: 30px 0; }
      .lists-wrap .cta a.cert-cta-btn {
        display: block;
        background: #6799c8;
        color: #fff !important;
        padding: 5px 20px;
        font-size: 20px;
        letter-spacing: 1px;
        text-decoration: none !important;
        margin-top: 20px !important;
        background-image: none !important;
        text-align: center; }
      .lists-wrap .cta a.cert-cta-btn:hover {
        background: #313131; } }
@media all and (min-width: 768px) {
  /* Membership Benefits
  -------------------------------------------------- */
  .benefits-wrap {
    display: block;
    clear: both;
    float: none;
    padding-top: 25px !important;
    padding-bottom: 50px !important; }
    .benefits-wrap .container {
      max-width: 1024px; }
      .benefits-wrap .container .benefits {
        line-height: 1.7;
        margin-top: 20px;
        margin-left: 20px; }
        .benefits-wrap .container .benefits h4 {
          font-weight: 900; }
        .benefits-wrap .container .benefits h5 {
          line-height: 1.7; }
        .benefits-wrap .container .benefits ul {
          margin-left: 0;
          padding-left: 0;
          line-height: 2; }
        .benefits-wrap .container .benefits a.afcpe-btn,
        .benefits-wrap .container .benefits input.afcpe-btn {
          display: block;
          background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
          color: #fff !important;
          padding: 5px 20px;
          font-size: 20px;
          letter-spacing: 1px;
          width: 310px;
          text-decoration: none !important;
          margin-top: 25px; }
        .benefits-wrap .container .benefits a.afcpe-btn:hover,
        .benefits-wrap .container .benefits input.afcpe-btn:hover {
          background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%; }

  /* Membership Types
  -------------------------------------------------- */
  .col-4 .box {
    width: 25%;
    display: inline-block;
    float: left; }
    .col-4 .box .inner {
      padding: 25px 18px; }
    .col-4 .box .first {
      margin-right: 5px; }
    .col-4 .box .second {
      margin-right: 5px;
      margin-left: 5px; }
    .col-4 .box .third {
      margin-right: 5px;
      margin-left: 5px; }
    .col-4 .box .last {
      margin-left: 5px; }

  /* Testimonials
  -------------------------------------------------- */
  .testimonial-wrap {
    text-align: center; }
    .testimonial-wrap h2.testimonial-head {
      color: #fff;
      font-weight: 100;
      letter-spacing: 1px; }
    .testimonial-wrap .slider-wrap {
      display: block;
      clear: both;
      float: none;
      padding: 50px 0 14px 0; }

  /* Subscribe
  -------------------------------------------------- */
  form.cta-subscribe label {
    display: none; }
  form.cta-subscribe #input_1_1_3_container > label,
  form.cta-subscribe #input_1_1_6_container > label {
    display: none !important; }
  form.cta-subscribe .gform_footer {
    text-align: center !important; }
  form.cta-subscribe #gform_submit_button_1 {
    border: none !important;
    background: #4e4746;
    color: #fff;
    padding: 8px 28px; }
  form.cta-subscribe li.cta-email {
    margin-top: 10px !important; }

  #gform_wrapper_1 {
    max-width: 100% !important;
    margin-top: 50px;
    margin-bottom: 25px; }

  .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span,
  .gform_wrapper .ginput_complex.ginput_container.no_first_name.has_middle_name.has_last_name span,
  .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.no_last_name span {
    width: 50% !important; }

  .gform_wrapper .top_label input.large,
  .gform_wrapper .top_label select.large,
  .gform_wrapper .hidden_label input.large,
  .gform_wrapper .hidden_label select.large,
  .gform_wrapper .ginput_complex input[type=text],
  .gform_wrapper .ginput_complex input[type=url],
  .gform_wrapper .ginput_complex input[type=email],
  .gform_wrapper .ginput_complex input[type=tel],
  .gform_wrapper .ginput_complex input[type=number],
  .gform_wrapper .ginput_complex input[type=password] {
    width: 100% !important;
    line-height: 42px;
    padding: 0 9px; }

  .form-wrap {
    display: block;
    clear: both;
    float: none;
    max-width: 724px;
    margin: 0 auto;
    text-align: center; }
    .form-wrap h2.subscribe-head {
      color: #fff;
      font-weight: 100;
      letter-spacing: 1px;
      text-align: center;
      font-size: 40px;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px; }
    .form-wrap h4.subscribe-subhead {
      color: #fff;
      text-align: center;
      font-size: 21px;
      line-height: 1;
      font-weight: 900;
      letter-spacing: 1px; }
    .form-wrap .after-subscribe {
      text-align: center;
      color: #fff; } }
@media all and (max-width: 991px) and (min-width: 768px) {
  /* Membership Types
  -------------------------------------------------- */
  .col-4 .box {
    width: 50%;
    display: inline-block;
    float: left;
    margin: 0 0 5px 0; }
    .col-4 .box .inner {
      padding: 25px 18px; }

  /* Testimonials
  -------------------------------------------------- */ }
@media all and (max-width: 768px) {
  /* Membership Types
  -------------------------------------------------- */
  .col-4 .box {
    width: 100%;
    display: block;
    clear: both;
    float: none;
    margin: 10px 0; }
    .col-4 .box .inner {
      padding: 25px 18px; }
    .col-4 .box .first {
      margin-right: 0; }
    .col-4 .box .second {
      margin-right: 0;
      margin-left: 0; }
    .col-4 .box .third {
      margin-right: 0;
      margin-left: 0; }
    .col-4 .box .last {
      margin-left: 0; }

  /* Testimonials
  -------------------------------------------------- */
  .testimonial-wrap {
    text-align: center; }
    .testimonial-wrap h2.testimonial-head {
      color: #fff;
      font-weight: 100;
      letter-spacing: 1px; }
    .testimonial-wrap .slider-wrap {
      display: block;
      clear: both;
      float: none;
      padding: 50px 0 14px 0; }

  /* Subscribe
  -------------------------------------------------- */
  form.cta-subscribe label {
    display: none; }
  form.cta-subscribe #input_1_1_3_container > label,
  form.cta-subscribe #input_1_1_6_container > label {
    display: none !important; }
  form.cta-subscribe .gform_footer {
    text-align: center !important; }
  form.cta-subscribe #gform_submit_button_1 {
    border: none !important;
    background: #4e4746;
    color: #fff;
    padding: 8px 28px; }
  form.cta-subscribe li.cta-email {
    margin-top: 10px !important; }

  #gform_wrapper_1 {
    max-width: 100% !important;
    margin-top: 50px;
    margin-bottom: 25px; }

  .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span,
  .gform_wrapper .ginput_complex.ginput_container.no_first_name.has_middle_name.has_last_name span,
  .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.no_last_name span {
    width: 50% !important; }

  .gform_wrapper .top_label input.large,
  .gform_wrapper .top_label select.large,
  .gform_wrapper .hidden_label input.large,
  .gform_wrapper .hidden_label select.large,
  .gform_wrapper .ginput_complex input[type=text],
  .gform_wrapper .ginput_complex input[type=url],
  .gform_wrapper .ginput_complex input[type=email],
  .gform_wrapper .ginput_complex input[type=tel],
  .gform_wrapper .ginput_complex input[type=number],
  .gform_wrapper .ginput_complex input[type=password] {
    width: 100% !important;
    line-height: 42px;
    padding: 0 9px; }

  .form-wrap {
    display: block;
    clear: both;
    float: none;
    max-width: 660px;
    margin: 0 auto;
    text-align: center; }
    .form-wrap h2.subscribe-head {
      color: #fff;
      font-weight: 100;
      letter-spacing: 1px;
      text-align: center;
      font-size: 40px;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px; }
    .form-wrap h4.subscribe-subhead {
      color: #fff;
      text-align: center;
      font-size: 21px;
      line-height: 1;
      font-weight: 900;
      letter-spacing: 1px; }
    .form-wrap .after-subscribe {
      text-align: center;
      color: #fff; } }
/* About Global
-------------------------------------------------- */
.about-intro-copy {
  color: #6799c8;
  text-align: center;
  padding: 0px 0px;
  line-height: 1.7;
  font-size: 22px;
  max-width: 1000px;
  margin: 0 auto; }

.content-wrap {
  display: block;
  clear: both;
  float: none;
  margin: 20px 0px;
  padding: 0px 0px; }

/* Standards
-------------------------------------------------- */
.standards-wrap {
  display: block;
  clear: both;
  float: none;
  max-width: 320px;
  margin: 0px auto;
  text-align: center; }
  .standards-wrap .standards {
    text-align: center; }
    .standards-wrap .standards h2.standards-title {
      font-size: 28px;
      line-height: 1.7;
      font-weight: 300;
      color: #6799c8;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px; }
    .standards-wrap .standards p.standard {
      font-size: 20px;
      font-weight: 300;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px; }

/* Stats
-------------------------------------------------- */
.wider {
  display: block;
  clear: both;
  float: none;
  margin: 0px auto;
  max-width: 1100px !important; }
  .wider .stats-wrap .stat {
    display: inline-block;
    max-width: 33%;
    vertical-align: top; }
    .wider .stats-wrap .stat .inner-stat {
      display: block;
      clear: both;
      float: none;
      margin: 10px 0px;
      padding: 0 15px; }
      .wider .stats-wrap .stat .inner-stat h1.number {
        font-weight: 100;
        color: #6799c8;
        font-size: 60px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px; }
      .wider .stats-wrap .stat .inner-stat h2.stats-title {
        font-size: 22px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px; }
      .wider .stats-wrap .stat .inner-stat .stats-description {
        margin: 20px 10px; }

/* About Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {
  /* Something
  -------------------------------------------------- */
  .blue-btn-left {
    float: right; } }
@media all and (max-width: 991px) and (min-width: 768px) {
  .section {
    padding-right: 15px;
    padding-left: 15px; } }
/* About Mobile
-------------------------------------------------- */
@media all and (max-width: 768px) {
  .section {
    padding-right: 15px;
    padding-left: 15px; }

  .about-intro-copy {
    line-height: 1.3; }

  .blue-btn,
  .blue-btn-left {
    float: none;
    margin: 0 auto; }

  .wider {
    display: block;
    clear: both;
    float: none;
    margin: 0px auto;
    max-width: 1100px !important; }
    .wider .stats-wrap .stat {
      display: block;
      max-width: 100%;
      clear: both;
      float: none; }
      .wider .stats-wrap .stat .inner-stat {
        display: block;
        clear: both;
        float: none;
        margin: 10px 0px;
        padding: 0 15px; }
        .wider .stats-wrap .stat .inner-stat h1.number {
          font-weight: 100;
          color: #6799c8;
          font-size: 60px;
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px; }
        .wider .stats-wrap .stat .inner-stat h2.stats-title {
          font-size: 22px;
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px; }
        .wider .stats-wrap .stat .inner-stat .stats-description {
          margin: 20px 10px; } }
/* Career Center Global
-------------------------------------------------- */
.content-wrap {
  font-size: 19px; }

.gray-bg-head {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  background: #4e4746;
  margin: 6px 0px 6px 0px;
  padding: 0px 0px 0px 0px; }
  .gray-bg-head h3 {
    color: #fff;
    line-height: 38px;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 0; }

.section-toggle:hover {
  cursor: pointer; }

.section-toggle-down {
  background: #4e4746 url("../img/toggle-down.png") no-repeat 98% 50% !important; }

.section-toggle-up {
  background: #4e4746 url("../img/toggle-up.png") no-repeat 98% 50% !important; }

.paths-wrap {
  display: block;
  clear: both;
  float: none;
  margin: 0px auto;
  padding: 0px 0px;
  max-width: 1000px; }

.box h3.box-title {
  font-size: 18px;
  margin: 0px 0px;
  padding: 0px 0px; }
.box .box-excerpt {
  display: block;
  clear: both;
  float: none;
  padding: 10px 0; }

/* Career Center Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {
  .paths-wrap {
    display: block;
    clear: both;
    float: none;
    margin: 50px auto;
    padding: 0px 0px;
    max-width: 1000px; }
    .paths-wrap .toggled-container {
      margin-bottom: 25px; }
    .paths-wrap .col-md-3 {
      padding-right: 5px !important;
      padding-left: 5px !important; }
      .paths-wrap .col-md-3 .inner {
        padding: 20px; } }
/* Career Center Tablet
-------------------------------------------------- */
/* Career Center Mobile
-------------------------------------------------- */
@media all and (max-width: 768px) {
  .paths-wrap {
    display: block;
    clear: both;
    float: none;
    margin: 20px auto;
    padding: 0px 0px;
    max-width: 100%; }
    .paths-wrap .toggled-container {
      margin-bottom: 25px; }
    .paths-wrap .col-md-3 .box {
      margin-bottom: 10px; }
      .paths-wrap .col-md-3 .box .inner {
        padding: 20px; } }
/* Global Events
-------------------------------------------------- */
.subpage-head-wrap {
  display: block;
  clear: both;
  float: none;
  background: #5f5958;
  text-align: center; }
  .subpage-head-wrap .container .inner h3.subpage-parents {
    color: #fff;
    border-bottom: 1px solid #fff;
    width: auto;
    line-height: 1.7; }
  .subpage-head-wrap .container .inner h1.subpage-title {
    color: #fff;
    font-weight: 100; }

h2.registration-ends {
  font-weight: 200; }

.tribe-events-nav-next a,
.tribe-events-nav-previous a,
.tribe-events-back a {
  color: #4e4746 !important;
  font-weight: 900; }

.tribe-events-tooltip .tribe-events-event-thumb {
  float: none; }

table.tribe-events-calendar {
  border-bottom: 2px solid #555555 !important; }

#tribe-events-content h1.tribe-events-single-event-title {
  color: #6799c8;
  font-size: 30px;
  margin: 0px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1; }
#tribe-events-content .tribe-events-schedule {
  margin: 0px 0px 0px 0px; }
#tribe-events-content p.registration-ends {
  font-size: 20px;
  margin: 15px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1;
  font-weight: 200; }
#tribe-events-content h2 {
  font-size: 20px;
  margin: 15px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1; }
  #tribe-events-content h2 span.tribe-event-date-start {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    line-height: 1; }
#tribe-events-content .tribe-events-content {
  margin: 20px 0; }

span.tribe-events-list-separator-month {
  background: none;
  text-align: center;
  font-size: 20px;
  margin: 15px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1;
  text-transform: none; }

/* Events Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {
  .tribe-events-calendar th {
    font-family: 'questaregular';
    background: #5f5958;
    color: #fff; }

  #tribe-events-pg-template {
    margin-bottom: 50px; }

  .events-intro-copy {
    margin: 0px auto !important;
    padding: 0 0 50px 0 !important;
    font-weight: 300;
    padding-top: 0 !important;
    line-height: 1.7;
    font-size: 22px;
    max-width: 956px; }

  .subpage-head-wrap {
    display: block;
    clear: both;
    float: none;
    background: #5f5958;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px; }
    .subpage-head-wrap .container .inner {
      max-width: 50%;
      margin: 0px auto; }
    .subpage-head-wrap .container h3.subpage-parents {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      color: #fff;
      border-bottom: 1px solid #fff;
      width: auto;
      line-height: 1.7; }
    .subpage-head-wrap .container h1.subpage-title {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      color: #fff;
      font-weight: 100;
      line-height: 1.5;
      font-size: 4em; } }
/* Events Tablet
-------------------------------------------------- */
/* Events Mobile
-------------------------------------------------- */
@media all and (max-width: 768px) {
  .tribe-filters-open #tribe_events_filters_wrapper, .tribe-filters-open #tribe_events_filters_wrapper.tribe-events-filters-horizontal, .tribe-filters-open #tribe_events_filters_wrapper.tribe-events-filters-vertical {
    top: 0 !important;
    z-index: 0 !important;
    display: block;
    position: relative !important; }

  #tribe-events-pg-template {
    margin-bottom: 0px; }

  .tribe-events-calendar th {
    background: #5f5958;
    color: #fff;
    font-size: 8px !important;
    text-transform: none !important;
    text-align: center !important;
    letter-spacing: 0px !important; }

  .events-intro-copy {
    margin: 0px auto !important;
    padding: 0 0 50px 0 !important;
    font-weight: 300;
    padding-top: 0 !important;
    line-height: 1.3;
    font-size: 18px;
    max-width: 956px; }

  .subpage-head-wrap {
    display: block;
    clear: both;
    float: none;
    background: #5f5958;
    text-align: center;
    padding: 20px 0; }
    .subpage-head-wrap .container .inner {
      width: 100%;
      margin: 0 0; }
    .subpage-head-wrap h3.subpage-parents {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      color: #fff;
      border-bottom: 1px solid #fff;
      width: auto;
      line-height: 1.2; }
    .subpage-head-wrap h1.subpage-title {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      color: #fff;
      font-weight: 100;
      line-height: 1;
      font-size: 3em; } }
/* Resource Center Child Global
-------------------------------------------------- */
/* Resource Center Child Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {
  .resource-center-child {
    margin-bottom: 0; }

  .resource-child-box-wrap {
    display: block;
    float: none;
    clear: both;
    margin: 0px auto 50px auto;
    max-width: 1000px; }
    .resource-child-box-wrap h3.section-head a {
      color: #313131 !important;
      text-decoration: none !important; }
    .resource-child-box-wrap .box-content {
      display: block;
      clear: both;
      float: none;
      margin: 25px 0; } }
/* Resource Center Child Tablet
-------------------------------------------------- */
/* Resource Center Child Mobile
-------------------------------------------------- */
/* Global
-------------------------------------------------- */
table.footable thead {
  background: #4e4746; }

/* Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {
  .main-subpage-head-wrap {
    display: block;
    clear: both;
    float: none;
    background: #5f5958;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 0px; }
    .main-subpage-head-wrap .container .inner {
      max-width: 50%;
      margin: 0px auto; }
    .main-subpage-head-wrap .container h3.subpage-parents {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      color: #fff;
      border-bottom: 1px solid #fff;
      width: auto;
      line-height: 1.7; }
    .main-subpage-head-wrap .container h1.subpage-title {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      color: #fff;
      font-weight: 100;
      line-height: 1.5;
      font-size: 4em; } }
/* Tablet
-------------------------------------------------- */
/* Mobile
-------------------------------------------------- */
@media all and (max-width: 768px) {
  table.footable thead {
    background: #4e4746; }
  table.footable tbody tr {
    border-bottom: 2px solid #898484; }

  .main-subpage-head-wrap {
    display: block;
    clear: both;
    float: none;
    background: #5f5958;
    text-align: center;
    padding: 20px 0; }
    .main-subpage-head-wrap .container .inner {
      width: 100%;
      margin: 0 0; }
    .main-subpage-head-wrap h3.subpage-parents {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 10px 0px;
      color: #fff;
      border-bottom: 1px solid #fff;
      width: auto;
      line-height: 1.2;
      font-size: 18px; }
    .main-subpage-head-wrap h1.subpage-title {
      margin: 0px 0px 0px 0px;
      padding: 10px 0px 0px 0px;
      color: #fff;
      font-weight: 100;
      line-height: 1.2;
      font-size: 2em; } }
@font-face {
  font-family: 'questaregular';
  src: url("../fonts/2-Questa_Regular-webfont.eot");
  src: url("../fonts/2-Questa_Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/2-Questa_Regular-webfont.woff2") format("woff2"), url("../fonts/2-Questa_Regular-webfont.woff") format("woff"), url("../fonts/2-Questa_Regular-webfont.ttf") format("truetype"), url("../fonts/2-Questa_Regular-webfont.svg#questaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.goudy {
  font-family: 'questaregular'; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
  outline: 0px !important;
  -webkit-appearance: none; }

.vc_row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.breadcrumbs-wrap {
  display: block;
  clear: both;
  float: none;
  padding: 15px 0px 0px 0px; }

@media all and (min-width: 768px) {
  .gray {
    background: #f8f8f8;
    padding: 29px 23px; }

  .section-inner {
    padding: 50px 0; } }
@media all and (min-width: 768px) {
  .gray {
    background: #f8f8f8;
    padding: 29px 23px; }

  .section-inner {
    padding: 50px 0; } }
/* Membership
-------------------------------------------------- */
.section {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }
  .section .full-width {
    max-width: 1000px;
    margin: 25px auto 0 auto; }
  .section .inner-title-wrap {
    display: block;
    clear: both;
    float: none;
    background: #4e4746;
    margin-bottom: 6px; }
    .section .inner-title-wrap h3 {
      color: #fff;
      line-height: 38px;
      padding-left: 15px;
      margin-top: 0;
      margin-bottom: 0; }

.white-bg {
  background: #fff; }

.gray-bg {
  background: #f8f8f8; }

.darker-gray-bg {
  background: #f0f0f0; }

.dark-gray-bg {
  background: #454545;
  color: #fff !important; }

.blue-bg {
  background: #6799c8;
  color: #fff !important; }

hr.dark {
  border-top: 1px solid #b5b4b4; }

a.blue-btn {
  display: block;
  background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
  color: #fff !important;
  padding: 5px 20px;
  font-size: 20px;
  letter-spacing: 1px;
  width: 310px;
  text-decoration: none !important;
  margin-top: 14px;
  text-align: left; }

a.blue-btn:hover {
  background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%; }

.box .inner {
  background: #f4f4f4; }
  .box .inner a.title {
    font-size: 17px;
    line-height: 1;
    font-weight: 900; }
  .box .inner p.top {
    margin-top: 20px;
    margin-bottom: 20px; }
  .box .inner p.bottom {
    font-size: 18px; }

.below-memberships {
  display: block;
  clear: both;
  float: none;
  margin-top: 25px; }

/* Footer
-------------------------------------------------- */
.footer-partners-wrap {
  background: #f8f8f8;
  padding: 50px 0; }
  .footer-partners-wrap img.partner-logo {
    width: auto;
    height: 134px;
    padding: 0 14px; }

a.partners-cta {
  background: url("../img/right-arrow.png") 100% 0 no-repeat;
  padding-right: 37px;
  display: inline-block;
  height: 24px;
  line-height: 15px;
  font-size: 22px; }

footer#footer,
#footer {
  background: #313131;
  text-align: center;
  color: #fff;
  padding-top: 65px;
  padding-bottom: 51px; }
  footer#footer a,
  #footer a {
    color: #fff !important;
    text-decoration: none !important; }
  footer#footer img.footer-logo,
  #footer img.footer-logo {
    display: block;
    width: 140px;
    height: 91px;
    margin-right: auto;
    margin-bottom: 43px;
    margin-left: auto; }
  footer#footer nav#footer-nav,
  #footer nav#footer-nav {
    text-align: center; }
    footer#footer nav#footer-nav ul#footer-menu,
    #footer nav#footer-nav ul#footer-menu {
      display: inline-table;
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0; }
      footer#footer nav#footer-nav ul#footer-menu li,
      #footer nav#footer-nav ul#footer-menu li {
        display: inline-block;
        float: left; }
        footer#footer nav#footer-nav ul#footer-menu li a,
        #footer nav#footer-nav ul#footer-menu li a {
          text-transform: uppercase;
          font-weight: 900; }
      footer#footer nav#footer-nav ul#footer-menu li:after,
      #footer nav#footer-nav ul#footer-menu li:after {
        content: '|';
        padding: 0 12px; }
      footer#footer nav#footer-nav ul#footer-menu li.last:after,
      #footer nav#footer-nav ul#footer-menu li.last:after {
        content: none !important; }
  footer#footer .footer-contact-wrap,
  #footer .footer-contact-wrap {
    margin-bottom: 16px; }
    footer#footer .footer-contact-wrap p,
    #footer .footer-contact-wrap p {
      letter-spacing: 1px;
      padding: 0 !important;
      margin-bottom: 0 !important; }

@media all and (max-width: 768px) {
  .footer-partners-wrap {
    padding: 20px; } }
a.back-to-top {
  display: block;
  float: right;
  background: #41505f;
  color: #fff !important;
  text-decoration: none !important;
  padding: 13px 30px;
  margin-top: -46px; }

.clear,
.clear:after {
  display: block;
  clear: both;
  float: none;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
