// _about.scss

/* About Global
-------------------------------------------------- */
.about-intro-copy {
	color: #6799c8;
	text-align: center;
	padding: 0px 0px;
	line-height: 1.7;
	font-size: 22px;
	max-width: 1000px;
	margin: 0 auto;
}

.content-wrap {
	display: block;
	clear: both;
	float: none;
	margin: 20px 0px;
	padding: 0px 0px;
}

/* Standards
-------------------------------------------------- */
.standards-wrap {
	display: block;
	clear: both;
	float: none;
	max-width: 320px;
	margin: 0px auto;
	text-align: center;

	.standards {
		text-align: center;

		h2.standards-title {
			font-size: 28px;
			line-height: 1.7;
			font-weight: 300;
			color: #6799c8;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}

		p.standard {
			font-size: 20px;
			font-weight: 300;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}
	}

	.after-standards {

	}
}

/* Stats
-------------------------------------------------- */
.wider {
	display: block;
	clear: both;
	float: none;
	margin: 0px auto;
	max-width: 1100px !important;

	.stats-wrap {

		.stat {
			display: inline-block;
			max-width: 33%;
			vertical-align: top;

			.inner-stat {
				display: block;
				clear: both;
				float: none;
				margin: 10px 0px;
				padding: 0 15px;
		
				h1.number {
					font-weight: 100;
					color: #6799c8;
					font-size: 60px;
					margin: 0px 0px 0px 0px;
					padding: 0px 0px 0px 0px;
				}

				h2.stats-title {
					font-size: 22px;
					margin: 0px 0px 0px 0px;
					padding: 0px 0px 0px 0px;
				}

				.stats-description {
					margin: 20px 10px;
				}
			}
		}
	}
}

/* About Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {

	/* Something
	-------------------------------------------------- */
	.blue-btn-left {
		float: right;
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {
	.section {
		padding-right: 15px;
		padding-left: 15px;
	}
}

/* About Mobile
-------------------------------------------------- */
@media all and (max-width: 768px) {
	.section {
		padding-right: 15px;
		padding-left: 15px;
	}

	.about-intro-copy {
		line-height: 1.3;
	}

	.blue-btn,
	.blue-btn-left {
		float: none;
		margin: 0 auto;
	}

	.wider {
		display: block;
		clear: both;
		float: none;
		margin: 0px auto;
		max-width: 1100px !important;

		.stats-wrap {

			.stat {
				display: block;
				max-width: 100%;
				clear: both;
				float: none;

				.inner-stat {
					display: block;
					clear: both;
					float: none;
					margin: 10px 0px;
					padding: 0 15px;
			
					h1.number {
						font-weight: 100;
						color: #6799c8;
						font-size: 60px;
						margin: 0px 0px 0px 0px;
						padding: 0px 0px 0px 0px;
					}

					h2.stats-title {
						font-size: 22px;
						margin: 0px 0px 0px 0px;
						padding: 0px 0px 0px 0px;
					}

					.stats-description {
						margin: 20px 10px;
					}
				}
			}
		}
	}
}