// _careercenter.scss

/* Career Center Global
-------------------------------------------------- */
.content-wrap {
	font-size: 19px;
}

.gray-bg-head {
	display: block;
	clear: both;
	float: none;
	width: 100%;
	background: #4e4746;
	margin: 6px 0px 6px 0px;
	padding: 0px 0px 0px 0px;

	h3 {
		color: #fff;
		line-height: 38px;
		padding-left: 15px;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.section-toggle:hover {
	cursor: pointer;
}

.section-toggle-down {
	background: #4e4746 url('../img/toggle-down.png') no-repeat 98% 50% !important;
}

.section-toggle-up {
	background: #4e4746 url('../img/toggle-up.png') no-repeat 98% 50% !important;
}

.paths-wrap {
	display: block;
	clear: both;
	float: none;
	margin: 0px auto;
	padding: 0px 0px;
	max-width: 1000px;
}

.box {
	
	h3.box-title {
		font-size: 18px;
		margin: 0px 0px;
		padding: 0px 0px;
	}

	.box-excerpt {
		display: block;
		clear: both;
		float: none;
		padding: 10px 0;
	}

	p.requirements {

	}
}


/* Career Center Desktop
-------------------------------------------------- */

@media all and (min-width: 768px) {
	.paths-wrap {
		display: block;
		clear: both;
		float: none;
		margin: 50px auto;
		padding: 0px 0px;
		max-width: 1000px;

		.toggled-container {
			margin-bottom: 25px;
		}

		.col-md-3 {
			padding-right: 5px !important;
			padding-left: 5px !important;

			.inner {
				padding: 20px;
			}
		}
	}
}

/* Career Center Tablet
-------------------------------------------------- */

@media all and (max-width: 991px) and (min-width: 768px) {

}

/* Career Center Mobile
-------------------------------------------------- */

@media all and (max-width: 768px) {
	.paths-wrap {
		display: block;
		clear: both;
		float: none;
		margin: 20px auto;
		padding: 0px 0px;
		max-width: 100%;

		.toggled-container {
			margin-bottom: 25px;
		}

		.col-md-3 {

			.box {
				margin-bottom: 10px;
				.inner {
					padding: 20px;
				}
			}
		}
	}
}