// _certificationcenter.scss

/* Certification Center
-------------------------------------------------- */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h2.section-head {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #313131;
}

hr.section {
	border-top: 1px solid #b5b4b4;
}

hr.dark {
	border-top: 1px solid #b5b4b4;
}

a.afcpe-btn,
input.afcpe-btn {
	display: block;
	background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
	color: #fff !important;
	padding: 5px 20px;
	font-size: 20px;
	letter-spacing: 1px;
	width: 310px;
	text-decoration: none !important;
	margin-top: 25px;
}

a.afcpe-btn:hover,
input.afcpe-btn:hover {
	background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%;
}

.tl-text h2.tl-headline {
	color: red !important;
}





@media all and (min-width: 768px) {







	.certification {
		padding: 50px 0 0 0 !important;
	}

	.benefits-wrap {
		display: block;
		clear: both;
		float: none;
		padding-top: 25px !important;
		padding-bottom: 50px !important;

		.container {
			max-width: 1024px;

			.benefits {
				line-height: 1.7;
				margin-top: 20px;
				margin-left: 20px;

				h4 {
					font-weight: 900;
				}

				h5 {
					line-height: 1.7;
				}

				ul {
					margin-left: 0;
					padding-left: 0;
					line-height: 2;

				}

				a.afcpe-btn,
				input.afcpe-btn {
					display: block;
					background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
					color: #fff !important;
					padding: 5px 20px;
					font-size: 20px;
					letter-spacing: 1px;
					width: 310px;
					text-decoration: none !important;
					margin-top: 25px;
				}

				a.afcpe-btn:hover,
				input.afcpe-btn:hover {
					background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%;
				}
			}
		}
	}

	.image-wrap {
		display: block;
		clear: both;
		float: none;
		max-width: 1000px;
		margin: 29px auto 50px auto;
	}

	.program-intro {
		font-size: 18px;
	}

	.programs-wrap {
		margin-top: 30px;

		.left {
			display: inline-block;
			float: left;
			width: 60%;
			padding-right: 10px;
		}

		.right {
			display: inline-block;
			float: left;
			width: 40%;
			padding-left: 10px;
		}

		.program-head {
			display: block;
			clear: both;
			float: none;
			background: #4e4746;

			h3 {
				color: #fff;
				line-height: 38px;
				padding-left: 15px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	.program-box {
		display: inline-block;
		float: left;

		.inner {
			margin: 6px 3px !important;
			background-color: #f0f0f0;
			display: block;
			float: none;
			clear: both;
			padding: 10px 8px;
		}
	}

	.left {
		.program-box {
			width: 25%;
		}
	}

	.right {
		.program-box {
			width: 50%;
		}
	}
}

.program-box {
	display: inline-block;
	float: left;

	.inner {
		margin: 6px 3px !important;
		background-color: #f0f0f0;
		display: block;
		float: none;
		clear: both;
		padding: 10px 8px;
	}

	a.program-title-link {
		font-size: 18px;
	}
}

.maintaining-certification-wrap {
	padding: 50px 0;

	.content {
		line-height: 1.6;
		font-size: 18px;
	}

	.lists-wrap {
		display: block;
		clear: both;
		float: none;
		width: 80%;
		margin: 0 auto;
		padding: 30px 0;

		ul,
		ol {
			padding-left: 0;
			margin-bottom: 0;
			font-size: 15px;
			line-height: 2;
		}

		.cta {
			display: block;
			clear: both;
			float: none;
			padding: 30px 0 0 0;

			a.cert-cta-btn {
				display: block;
				background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
				color: #fff !important;
				padding: 5px 20px;
				font-size: 20px;
				letter-spacing: 1px;
				text-decoration: none !important;
				margin-top: 50px;
			}

			a.cert-cta-btn:hover {
				background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%;
			}
		}
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {
	.left {
		.program-box {
			width: 50%;
		}
	}

	.right {
		.program-box {
			width: 100%;
		}
	}
}

@media all and (max-width: 768px) {
	.benefits {
		display: block;
		clear: both;
		float: none;
		padding: 29px 0;
	}

	.image-wrap {
		display: block;
		clear: both;
		float: none;
		max-width: 1000px;
		margin: 29px auto;
	}

	.programs-wrap {

		.program-box {
			width: 100%;
			display: block;
			clear: both;
			float: none;
		}

		.left {
			display: block;
			float: none;
			width: 100%;
			padding: 20px 15px;
		}

		.right {
			display: block;
			float: none;
			width: 100%;
			padding: 20px 15px;
		}

		.program-head {
			display: block;
			clear: both;
			float: none;
			background: #4e4746;
			margin-bottom: 6px;

			h3 {
				color: #fff;
				line-height: 38px;
				padding-left: 15px;
			}
		}
	}

	.maintaining-certification-wrap {
		padding: 50px 0;

		.content {
			line-height: 1.6;
			font-size: 14px;
		}
	}

	.lists-wrap {
		width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;

		.cta {
			display: block;
			clear: both;
			float: none;
			padding: 30px 0;

			a.cert-cta-btn {
				display: block;
				background: #6799c8;
				color: #fff !important;
				padding: 5px 20px;
				font-size: 20px;
				letter-spacing: 1px;
				text-decoration: none !important;
				margin-top: 20px !important;
				background-image: none !important;
				text-align: center;
			}

			a.cert-cta-btn:hover {
				background: #313131;
			}
		}
	}
}