// _events.scss

/* Global Events
-------------------------------------------------- */
.subpage-head-wrap {
	display: block;
	clear: both;
	float: none;
	background: #5f5958;
	text-align: center;

	.container {

		.inner {

			h3.subpage-parents {
				color: #fff;
				border-bottom: 1px solid #fff;
				width: auto;
				line-height: 1.7;
			}

			h1.subpage-title {
				color: #fff;
				font-weight: 100;
			}
		}
	}
}

h2.registration-ends {
	font-weight: 200;
}

.tribe-events-nav-next,
.tribe-events-nav-previous,
.tribe-events-back {
	
	a {
		color: #4e4746 !important;
		font-weight: 900;
	}
}

.tribe-events-tooltip .tribe-events-event-thumb {
	float: none;
}

table.tribe-events-calendar {
	border-bottom: 2px solid #555555 !important;
}


#tribe-events-content {
	h1.tribe-events-single-event-title {
		color: #6799c8;
		font-size: 30px;
		margin: 0px 0px;
		padding: 0px 0px 0px 0px;
		line-height: 1;
	}

	.tribe-events-schedule {
		margin: 0px 0px 0px 0px;
	}

	p.registration-ends {
		font-size: 20px;
		margin: 15px 0px;
		padding: 0px 0px 0px 0px;
		line-height: 1;
		font-weight: 200;
	}

	h2 {
		font-size: 20px;
		margin: 15px 0px;
		padding: 0px 0px 0px 0px;
		line-height: 1;

		span.tribe-event-date-start {
			font-size: 20px;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			line-height: 1;
		}
	}

	.tribe-events-content {
		margin: 20px 0;
	}
}

	
span.tribe-events-list-separator-month {
	background: none;
	text-align: center;
	font-size: 20px;
	margin: 15px 0px;
	padding: 0px 0px 0px 0px;
	line-height: 1;
	text-transform: none;

	span {

	}
}

/* Events Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {

	.tribe-events-calendar th {
		font-family: 'questaregular';
		background: #5f5958;
		color: #fff;
	}

	#tribe-events-pg-template {
		margin-bottom: 50px;
	}

	.events-intro-copy {
		margin: 0px auto !important;
		padding: 0 0 50px 0 !important;
		font-weight: 300;
		padding-top: 0 !important;
		line-height: 1.7;
		font-size: 22px;
		max-width: 956px;
	}

	.subpage-head-wrap {
		display: block;
		clear: both;
		float: none;
		background: #5f5958;
		text-align: center;
		padding: 50px 0;
		margin-bottom: 50px;

		.container {

			.inner {
				max-width: 50%;
				margin: 0px auto;
			}

			h3.subpage-parents {
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				color: #fff;
				border-bottom: 1px solid #fff;
				width: auto;
				line-height: 1.7;
			}

			h1.subpage-title {
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				color: #fff;
				font-weight: 100;
				line-height: 1.5;
				font-size: 4em;
			}
		}
	}
}

/* Events Tablet
-------------------------------------------------- */

@media all and (max-width: 991px) and (min-width: 768px) {

}

/* Events Mobile
-------------------------------------------------- */
@media all and (max-width: 768px) {
	.tribe-filters-open #tribe_events_filters_wrapper, .tribe-filters-open #tribe_events_filters_wrapper.tribe-events-filters-horizontal, .tribe-filters-open #tribe_events_filters_wrapper.tribe-events-filters-vertical {
		top: 0 !important;
		z-index: 0 !important;
		display: block;
		position: relative !important;
	}

	#tribe-events-pg-template {
		margin-bottom: 0px;
	}

	.tribe-events-calendar th {
		background: #5f5958;
		color: #fff;
		font-size: 8px !important;
		text-transform: none !important;
		text-align: center !important;
		letter-spacing: 0px !important;
	}

	.events-intro-copy {
		margin: 0px auto !important;
		padding: 0 0 50px 0 !important;
		font-weight: 300;
		padding-top: 0 !important;
		line-height: 1.3;
		font-size: 18px;
		max-width: 956px;
	}

	.subpage-head-wrap {
		display: block;
		clear: both;
		float: none;
		background: #5f5958;
		text-align: center;
		padding: 20px 0;

		.container {

			.inner {
				width: 100%;
				margin: 0 0;
			}
		}

		h3.subpage-parents {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			color: #fff;
			border-bottom: 1px solid #fff;
			width: auto;
			line-height: 1.2;
		}

		h1.subpage-title {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			color: #fff;
			font-weight: 100;
			line-height: 1;
			font-size: 3em;
		}
	}
}