// _global.scss

/* ...Global Global
-------------------------------------------------- */
.comments-wrap {
	
	ul {
		list-style-type: none;
	}
}

input.afcpe-btn {
	border: none !important;
}

/* Global Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {
	.section {

		.inner-section {

		}
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {

}

/* Global Mobile
-------------------------------------------------- */
@media all and (max-width: 768px) {

}