// _header.scss

/* Header
-------------------------------------------------- */
@media all and (min-width: 768px) {
	header#header,
	#header {
		display: block;
		clear: both;
		float: none;

		.head-upper {
			display: block;
			clear: both;
			float: none;

			.container {
				display: block;
				clear: both;
				float: none;
				padding-top: 36px;
				padding-right: 0;
				padding-left: 0;

				.left {
					display: none;
				}

				.middle {
					display: inline-block;
					float: left;
					width: 473px;

					.logo-wrap {
						h1#logo {
							background: url('../img/afcpe-logo-full.png') no-repeat 0 0;
							height: 85px;
							width: 473px;
							text-indent: -2000px;
							font-size: 0em;
							line-height: 0em;
							overflow: hidden;
							margin-top: 0;
							margin-bottom: 0;

							a {
								height: 100%;
								width: 100%;
								display: block;
							}
						}
					}
				}

				.right {
					display: inline-block;
					width: 366px;
					float: right;
					height: 100%;

					.mobile {
						display: none;
					}

					nav#header-inner {
						display: inline-block;

						ul {
							list-style-type: none;
							padding-left: 0;
							margin-bottom: 0;

							li {
								display: inline-block;

								a {
									color: #686868 !important;
									text-decoration: none !important;
									font-weight: 900;
								}
							}

							li.first:after {
								content: '|';
								color: #aac5df;
								padding-right: 1px;
								padding-left: 5px;
							}

							li.last:after {
								content: none;
							}
						}
					}

					nav#header-login {
						background: #6799c8;
						display: inline-block;
						padding: 25px 15px 15px 15px;
						margin: 0px 0px 0px 30px;
						width: 177px;

						ul {
							text-align: right;
							list-style-type: none;
							padding-left: 0;
							margin-left: 0;
							margin-bottom: 0;

							li {

								a {
									color: #fff !important;
									text-decoration: none !important;
								}
							}

							li.first {

								a {
									font-weight: 900;
									font-size: 110%;
									line-height: 1.7;
								}
							}
						}
					}
				}
			}
		}

		.head-lower {

			.search-wrap {
				height: 38px;
				background: #f0f0f0;

				form#searchform {
					height: 38px;
					float: right;

					input::-webkit-input-placeholder {
						color: #847f7f !important;
					}
					 
					input:-moz-placeholder { /* Firefox 18- */
						color: #847f7f !important;  
					}
					 
					input::-moz-placeholder {  /* Firefox 19+ */
						color: #847f7f !important;  
					}
					 
					input:-ms-input-placeholder {  
						color: #847f7f !important;  
					}				

					input {
						text-align: right;
						background: #f0f0f0;
						color: #847f7f !important;
						height: 100%;
						border: none;
						margin: 0;
						padding: 0px 10px 0px 0px;
						font-size: 18px;
						letter-spacing: 1px;
					}

					button {
						background: url('../img/search-icon.png') no-repeat 0 4px;
						width: 22px;
						text-indent: -2000px;
						font-size: 0em;
						line-height: 0em;
						overflow: hidden;
						margin: 0;
						padding: 0;
						height: 100%;
						border: none;
					}
				}
			}
		}
	}

	.mobile-search-wrap {
		display: none;
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {
	header#header,
	#header {
		display: block;
		clear: both;
		float: none;

		.head-upper {
			display: block;
			clear: both;
			float: none;

			.container {
				display: block;
				clear: both;
				float: none;

				.left {
					display: none;
				}

				.middle {
					display: inline-block;
					float: left;
					width: 133px;

					.logo-wrap {
						h1#logo {
							background: url('../img/afcpe-logo-part.png') no-repeat 0 0;
							height: 85px;
							width: 133px;
							text-indent: -2000px;
							font-size: 0em;
							line-height: 0em;
							overflow: hidden;

							a {
								height: 100%;
								width: 100%;
								display: block;
							}
						}
					}
				}

				.right {
					display: inline-block;
					width: 366px;
					height: 100%;

					.mobile {
						display: none;
					}
				}
			}
		}
	}

	.mobile-search-wrap {
		display: none;
	}
}

@media all and (max-width: 768px) {
	header#header,
	#header {
		display: block;
		clear: both;
		float: none;

		.head-upper {
			display: block;
			clear: both;
			float: none;
			padding: 25px 0;

			.container {
				display: block;
				clear: both;
				float: none;
				height: 85px;

				.left {
					display: inline-block;
					float: left;
					width: 25%;
					position: relative;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);

					a.afcpe-nav {
						color: #313131 !important;
						font-weight: 900;
						position: relative;
						text-decoration: none !important;
						padding-left: 32px;
						font-size: 16px;
						text-transform: uppercase;
					}

					a.nav-bars {
						background: url('../img/nav-bars.png') 0 0 no-repeat;
					}

					a.nav-close {
						background: url('../img/nav-close.png') 0 0 no-repeat;
					}
				}

				.middle {
					display: inline-block;
					float: left;
					width: 50%;

					.logo-wrap {

						h1#logo {
							background: url('../img/afcpe-logo-part.png') no-repeat 0 0;
							height: 85px;
							width: 133px;
							text-indent: -2000px;
							font-size: 0em;
							line-height: 0em;
							overflow: hidden;
							display: block;
							margin: 0 auto;

							a {
								height: 100%;
								width: 100%;
								display: block;
							}
						}
					}
				}

				.right {
					display: inline-block;
					float: left;
					width: 25%;
					position: relative;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);

					.desktop {
						display: none;
					}

					.mobile {
						text-align: right;

						a.login-link {
							color: #313131 !important;
							font-weight: 900;
							position: relative;
							text-decoration: none !important;
							font-size: 16px;
							text-transform: uppercase;
						}
					}
				}
			}
		}

		.head-lower {

			.search-wrap {
				display: none;
			}
		}
	}

	.mobile-search-wrap {
		height: 38px;
		background: #f0f0f0;

		form#searchform {
			height: 38px;

			input::-webkit-input-placeholder {
				color: #847f7f !important;
			}
			 
			input:-moz-placeholder { /* Firefox 18- */
				color: #847f7f !important;  
			}
			 
			input::-moz-placeholder {  /* Firefox 19+ */
				color: #847f7f !important;  
			}
			 
			input:-ms-input-placeholder {  
				color: #847f7f !important;  
			}				

			input {
				background: #f0f0f0;
				color: #847f7f !important;
				height: 100%;
				border: none;
				margin: 0;
				padding: 0px 10px 0px 0px;
				font-size: 18px;
				letter-spacing: 1px;
			}

			button {
				background: url('../img/search-icon.png') no-repeat 0 4px;
				width: 22px;
				text-indent: -2000px;
				font-size: 0em;
				line-height: 0em;
				overflow: hidden;
				margin: 0;
				padding: 0;
				height: 100%;
				border: none;
			}
		}
	}
}