// _homepage.scss

/* Home Page / front-page.php
-------------------------------------------------- */

.news-trends {
	background: #f8f8f8;
}

a.featured-post-link {
	font-size: 18px;
	font-weight: 900;
	color: #313131 !important;
	text-decoration: none !important;
	margin: 20px 0 -20px 0;
	display: block;
}

ul.featured-post-social {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 20px;

	li {
		display: inline-block;
		padding-right: 17px;
	}
}

h3.goudy {
	color: #4e4746;
}

@media all and (min-width: 768px) {
	.intro-copy {
		padding: 50px 0;
		line-height: 1.7;
		font-size: 22px;
		font-weight: 300;
		max-width: 956px;
		margin: 0 auto;
	}

	.content-blocks-wrap {
		display: block;
		width: 1020px;
		margin: 0px auto;
		padding-bottom: 50px;

		.content-block {
			padding-bottom: 50px;
			max-width: 340px;
			display: inline-block;
			float: left;
			padding: 0 10px;
		}
	}

	.news-trends-wrap {
		display: block;
		clear: both;
		float: none;
		background: #f8f8f8;
		padding: 50px 0;

		.container {
			display: block;
			max-width: 1280px;
			margin: 0 auto;
			padding: 0px 0px 0px 0px;
			color: #313131;

			h2 {
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}

			.news-trends {
				display: block;
				max-width: 1040px;
				margin: 0 auto;

				.featured-post {
					display: inline-block;
					float: left;
					width: 50%;
					padding-right: 5%;
				}
			}
		}
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {
	.intro-copy {
		padding: 50px 50px;
		line-height: 1.7;
		font-size: 18px;
		font-weight: 300;
	}

	.content-blocks-wrap {
		display: block;
		width: 90%;
		margin: 0 auto;
		padding-bottom: 50px;

		.content-block {
			display: inline-block;
			float: left;
			padding-bottom: 50px;
			width: 33%;
		}
	}
}

@media all and (max-width: 768px) {
	.intro-copy {
		padding: 25px 20px;
		line-height: 1.7;
		font-size: 18px;
		font-weight: 300;
	}

	.content-blocks-wrap {
		display: block;
		width: 90%;
		margin: 0px auto;

		.content-block {
			display: block;
			float: none;
			margin: 0 auto;
			padding-bottom: 50px;
			width: 320px;
		}
	}

	.news-trends-wrap {
		display: block;
		clear: both;
		float: none;
		background: #f8f8f8;
		padding: 20px 20px;

		h2 {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}

		hr {
			border-top: 1px solid #e0e1e3;
		}
	}

	.featured-post {
		display: block;
		max-width: 700px;
		margin: 20px auto;
	}
}

a.learn-more {
	display: block;
	background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
	color: #fff !important;
	padding: 5px 20px;
	font-size: 20px;
	letter-spacing: 1px;
	width: 200px;
	text-decoration: none !important;
}

a.learn-more:hover {
	background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%;
}

.container {
	display: block;
	max-width: 1280px;
	margin: 0 auto;
	color: #313131;

	h2 {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}

	hr {
		border-top: 1px solid #e0e1e3;
	}
}


@media all and (min-width: 768px) {
	.container {
		display: block;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0px 0px 0px 0px;
		color: #313131;

		h2 {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}

		hr {
			border-top: 1px solid #e0e1e3;
		}
	}
}

@media all and (max-width: 768px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

/* Home Page Events
-------------------------------------------------- */
@media all and (min-width: 768px) {
	.events-wrap {
		display: block;
		clear: both;
		float: none;
		padding: 50px 0;

		.container {

			.event {
				margin-bottom: 10px;
			}

			.event-full {
				display: block;
				clear: both;
				float: none;
				width: 100%;

				.gray {
					background: #f8f8f8;
					padding: 29px 23px;
				}

				.media {

					.media-left {
						padding-right: 40px;
					}

					h4.month {
						margin: 0px 0px 0px 0px;
						padding: 0px 0px 0px 0px;
						text-align: center;
					}

					h1.day {
						margin: 0px 0px 0px 0px;
						padding: 0px 0px 0px 0px;
						text-align: center;
						font-size: 65px;
						line-height: 1;
					}

					a.event-link {
						font-size: 24px;
						line-height: 1;
					}

					p.event-summary {
						margin: 0;
						padding: 0;
						font-size: 17px;
						line-height: 1.2;
					}

					a.event-sign-up{
						font-size: 20px;
					}
				}
			}

			.event-large {
				display: inline-block;
				float: left;
				width: 50%;

				.gray {
					background: #f8f8f8;
					padding: 29px 23px;
				}

				.media {
					margin: 5px 10px 5px 10px !important;
				}

				.media {

					.media-left {
						padding-right: 40px;
					}

					h4.month {
						margin: 0px 0px 0px 0px;
						padding: 0px 0px 0px 0px;
						text-align: center;
					}

					h1.day {
						margin: 0px 0px 0px 0px;
						padding: 0px 0px 0px 0px;
						text-align: center;
						font-size: 65px;
						line-height: 1;
					}

					a.event-link {
						font-size: 24px;
						line-height: 1;
					}

					p.event-summary {
						margin: 0;
						padding: 0;
						font-size: 17px;
						line-height: 1.2;
					}

					a.event-sign-up{
						font-size: 20px;
					}
				}
			}

			.event-three-col {
				display: inline-block;
				float: left;
				width: 33.3333333%;

				.gray {
					background: #f8f8f8;
					padding: 29px 23px;
				}

				.media {
					margin: 5px 10px 5px 10px !important;

					.media-left {
						padding-right: 15px;
					}

					h4.month {
						margin: 0px 0px 0px 0px;
						padding: 0px 0px 0px 0px;
						text-align: center;
						font-size: 13px;
						line-height: 1
					}

					h1.day {
						margin: 0px 0px 0px 0px;
						padding: 0px 0px 0px 0px;
						text-align: center;
						font-size: 50px;
						line-height: 1;
					}

					a.event-link {
						font-size: 15px;
						line-height: 1;
					}

					p.event-summary {
						margin: 0;
						padding: 0;
						font-size: 14px;
						line-height: 1.2;
					}

					a.event-sign-up{
						font-size: 20px;
					}
				}
			}

			.event-small {
				display: inline-block;
				float: left;
				width: 25%;

				.gray {
					background: #f8f8f8;
					padding: 29px 23px;
				}

				.media {
					margin: 5px 10px 5px 10px !important;

					.media-left {
						padding-right: 15px;
					}

					h4.month {
						margin: 0px 0px 0px 0px;
						padding: 0px 0px 0px 0px;
						text-align: center;
						font-size: 13px;
						line-height: 1
					}

					h1.day {
						margin: 0px 0px 0px 0px;
						padding: 0px 0px 0px 0px;
						text-align: center;
						font-size: 50px;
						line-height: 1;
					}

					a.event-link {
						font-size: 15px;
						line-height: 1;
					}

					p.event-summary {
						margin: 0;
						padding: 0;
						font-size: 14px;
						line-height: 1.2;
					}
				}
			}
		}
	}
}

@media all and (max-width: 768px) {
	.events-wrap {
		padding: 20px;

		.gray {
			background: #f8f8f8;
			padding: 29px 23px;
		}

		.media {
			padding: 25px;
			margin-bottom: 20px;

			.media-left {
				padding-right: 40px;
			}

			h4.month {
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				text-align: center;
			}

			h1.day {
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				text-align: center;
				font-size: 65px;
				line-height: 1;
			}

			a.event-link {
				font-size: 18px;
				line-height: 1;
			}

			p.event-summary {
				margin: 0;
				padding: 0;
				font-size: 17px;
				line-height: 1.2;
			}

			a.event-sign-up{
				font-size: 20px;
			}
		}
	}
}

a.full-calendar-link {
	background: url('../img/right-arrow.png') 100% 0 no-repeat;
	padding-right: 37px;
	display: inline-block;
	height: 24px;
	line-height: 15px;
	font-size: 22px;
	margin-top: 25px;
}

h2.home-box-title {
	font-size: 26px !important;
	padding-top: 15px !important;
}