// _maintaincert.scss

/* Global
-------------------------------------------------- */
table.footable {
	
	thead {
		background: #4e4746;

		tr {

			th {

			}
		}
	}

	tbody {

		tr {
			

			td {
				
			}
		}
	}
}
/* Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {
	table.footable {
		
		thead {

			tr {

				th {

				}
			}
		}

		tbody {

			tr {

				td {

					.inner {

						p {

						}
					}
				}
			}
		}
	}

	.main-subpage-head-wrap {
		display: block;
		clear: both;
		float: none;
		background: #5f5958;
		text-align: center;
		padding: 50px 0;
		margin-bottom: 0px;

		.container {

			.inner {
				max-width: 50%;
				margin: 0px auto;
			}

			h3.subpage-parents {
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				color: #fff;
				border-bottom: 1px solid #fff;
				width: auto;
				line-height: 1.7;
			}

			h1.subpage-title {
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				color: #fff;
				font-weight: 100;
				line-height: 1.5;
				font-size: 4em;
			}
		}
	}
}

/* Tablet
-------------------------------------------------- */

@media all and (max-width: 991px) and (min-width: 768px) {

}

/* Mobile
-------------------------------------------------- */
@media all and (max-width: 768px) {
	table.footable {
		
		thead {
			background: #4e4746;

			tr {

				th {

				}
			}
		}

		tbody {

			tr {
				border-bottom: 2px solid #898484;

				td {

					.inner {

						p {

						}
					}
				}
			}
		}
	}

	.main-subpage-head-wrap {
		display: block;
		clear: both;
		float: none;
		background: #5f5958;
		text-align: center;
		padding: 20px 0;

		.container {

			.inner {
				width: 100%;
				margin: 0 0;
			}
		}

		h3.subpage-parents {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 10px 0px;
			color: #fff;
			border-bottom: 1px solid #fff;
			width: auto;
			line-height: 1.2;
			font-size: 18px;
		}

		h1.subpage-title {
			margin: 0px 0px 0px 0px;
			padding: 10px 0px 0px 0px;
			color: #fff;
			font-weight: 100;
			line-height: 1.2;
			font-size: 2em;
		}
	}
}