// _membership.scss

@media all and (min-width: 768px) {

	/* Membership Benefits
	-------------------------------------------------- */
	.benefits-wrap {
		display: block;
		clear: both;
		float: none;
		padding-top: 25px !important;
		padding-bottom: 50px !important;

		.container {
			max-width: 1024px;

			.benefits {
				line-height: 1.7;
				margin-top: 20px;
				margin-left: 20px;

				h4 {
					font-weight: 900;
				}

				h5 {
					line-height: 1.7;
				}

				ul {
					margin-left: 0;
					padding-left: 0;
					line-height: 2;

				}

				a.afcpe-btn,
				input.afcpe-btn {
					display: block;
					background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
					color: #fff !important;
					padding: 5px 20px;
					font-size: 20px;
					letter-spacing: 1px;
					width: 310px;
					text-decoration: none !important;
					margin-top: 25px;
				}

				a.afcpe-btn:hover,
				input.afcpe-btn:hover {
					background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%;
				}
			}
		}
	}

	/* Membership Types
	-------------------------------------------------- */
	.col-4 {
		
		.box {
			width: 25%;
			display: inline-block;
			float: left;

			.inner {
				padding: 25px 18px;
			}

			.first {
				margin-right: 5px;
			}

			.second {
				margin-right: 5px;
				margin-left: 5px;
			}

			.third {
				margin-right: 5px;
				margin-left: 5px;
			}

			.last {
				margin-left: 5px;
			}
		}
	}

	/* Testimonials
	-------------------------------------------------- */
	.testimonial-wrap {
		text-align: center;

		h2.testimonial-head {
			color: #fff;
			font-weight: 100;
			letter-spacing: 1px;
		}

		.slider-wrap {
			display: block;
			clear: both;
			float: none;
			padding: 50px 0 14px 0;
		}
	}

	/* Subscribe
	-------------------------------------------------- */
	form.cta-subscribe {

		label {
			display: none;
		}

		#input_1_1_3_container > label,
		#input_1_1_6_container > label {
				display: none !important;
		}

		.gform_footer {
			text-align: center !important;
		}

		#gform_submit_button_1 {
			border: none !important;
			background: #4e4746;
			color: #fff;
			padding: 8px 28px;
		}

		li.cta-email {
			margin-top: 10px !important;
		}
	}

	#gform_wrapper_1 {
		max-width: 100% !important;
		margin-top: 50px;
		margin-bottom: 25px;
	}

	.gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span,
	.gform_wrapper .ginput_complex.ginput_container.no_first_name.has_middle_name.has_last_name span,
	.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.no_last_name span {
		width: 50% !important;
	}

	.gform_wrapper .top_label input.large,
	.gform_wrapper .top_label select.large,
	.gform_wrapper .hidden_label input.large,
	.gform_wrapper .hidden_label select.large,
	.gform_wrapper .ginput_complex input[type=text],
	.gform_wrapper .ginput_complex input[type=url],
	.gform_wrapper .ginput_complex input[type=email],
	.gform_wrapper .ginput_complex input[type=tel],
	.gform_wrapper .ginput_complex input[type=number],
	.gform_wrapper .ginput_complex input[type=password] {
		width: 100% !important;
		line-height: 42px;
		padding: 0 9px;
	}

	.form-wrap {
		display: block;
		clear: both;
		float: none;
		max-width: 724px;
		margin: 0 auto;
		text-align: center;

		h2.subscribe-head {
			color: #fff;
			font-weight: 100;
			letter-spacing: 1px;
			text-align: center;
			font-size: 40px;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}

		h4.subscribe-subhead {
			color: #fff;
			text-align: center;
			font-size: 21px;
			line-height: 1;
			font-weight: 900;
			letter-spacing: 1px;
		}

		.after-subscribe {
			text-align: center;
			color: #fff;

			h4 {

			}

			p {

			}
		}
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {

	/* Membership Types
	-------------------------------------------------- */
	.col-4 {
		
		.box {
			width: 50%;
			display: inline-block;
			float: left;
			margin: 0 0 5px 0;

			.inner {
				padding: 25px 18px;
			}
		}
	}

	/* Testimonials
	-------------------------------------------------- */
}

@media all and (max-width: 768px) {

	/* Membership Types
	-------------------------------------------------- */
	.col-4 {
		
		.box {
			width: 100%;
			display: block;
			clear: both;
			float: none;
			margin: 10px 0;

			.inner {
				padding: 25px 18px;
			}

			.first {
				margin-right: 0;
			}

			.second {
				margin-right: 0;
				margin-left: 0;
			}

			.third {
				margin-right: 0;
				margin-left: 0;
			}

			.last {
				margin-left: 0;
			}
		}
	}

	/* Testimonials
	-------------------------------------------------- */
	.testimonial-wrap {
		text-align: center;

		h2.testimonial-head {
			color: #fff;
			font-weight: 100;
			letter-spacing: 1px;
		}

		.slider-wrap {
			display: block;
			clear: both;
			float: none;
			padding: 50px 0 14px 0;
		}
	}

	/* Subscribe
	-------------------------------------------------- */
	form.cta-subscribe {

		label {
			display: none;
		}

		#input_1_1_3_container > label,
		#input_1_1_6_container > label {
				display: none !important;
		}

		.gform_footer {
			text-align: center !important;
		}

		#gform_submit_button_1 {
			border: none !important;
			background: #4e4746;
			color: #fff;
			padding: 8px 28px;
		}

		li.cta-email {
			margin-top: 10px !important;
		}
	}

	#gform_wrapper_1 {
		max-width: 100% !important;
		margin-top: 50px;
		margin-bottom: 25px;
	}

	.gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span,
	.gform_wrapper .ginput_complex.ginput_container.no_first_name.has_middle_name.has_last_name span,
	.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.no_last_name span {
		width: 50% !important;
	}

	.gform_wrapper .top_label input.large,
	.gform_wrapper .top_label select.large,
	.gform_wrapper .hidden_label input.large,
	.gform_wrapper .hidden_label select.large,
	.gform_wrapper .ginput_complex input[type=text],
	.gform_wrapper .ginput_complex input[type=url],
	.gform_wrapper .ginput_complex input[type=email],
	.gform_wrapper .ginput_complex input[type=tel],
	.gform_wrapper .ginput_complex input[type=number],
	.gform_wrapper .ginput_complex input[type=password] {
		width: 100% !important;
		line-height: 42px;
		padding: 0 9px;
	}

	.form-wrap {
		display: block;
		clear: both;
		float: none;
		max-width: 660px;
		margin: 0 auto;
		text-align: center;

		h2.subscribe-head {
			color: #fff;
			font-weight: 100;
			letter-spacing: 1px;
			text-align: center;
			font-size: 40px;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}

		h4.subscribe-subhead {
			color: #fff;
			text-align: center;
			font-size: 21px;
			line-height: 1;
			font-weight: 900;
			letter-spacing: 1px;
		}

		.after-subscribe {
			text-align: center;
			color: #fff;

			h4 {

			}

			p {

			}
		}
	}
}