// _primarynav.scss

/* Primary Navigation
-------------------------------------------------- */
@media all and (min-width: 768px) {
	.primary-nav-wrap {
		background: #313131;
		display: block !important;
	}

	.hmenu_mega_inner{
		display: block;
		clear: both;
		float: none;
		padding: 25px 25px 200px 25px !important;
	}
	ul.certification-overview {
		
		li.first {
			font-size: 90%;
		}
		
		li {
			display: block;
			clear: both;
			float: none;
			line-height: 1.7;
			color: #ababab;

			a {
				text-transform: uppercase;
				text-decoration: none !important;
				color: #ababab !important;
				border: none !important;
				font-weight: 900;
			}

			a:hover {
				color: #fff !important;
			}
		}
	}

	ul.hmenu_navigation_root {

		li {
			border: none !important;

			a {
				text-transform: uppercase;
				text-decoration: none !important;
				color: #fff;
				border: none !important;
			}
		}
		
	}
}

@media all and (max-width: 768px) {
	.primary-nav-wrap {
		display: none;

		.container {
			padding-right: 0;
			padding-left: 0;
		}
	}
}