// _primarynav2.scss

header#header {
	position: relative;
	z-index: 999;
	background: #fff;
}

/* Primary Navigation Global
-------------------------------------------------- */
.primary-nav-wrap {

	.container {

		nav.primary-nav {

			ul {
				display: block;
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
			}

			a {
				text-transform: uppercase;
			}

			.menu-child {
				display: none;
			}
		}
	}
}

/* Primary Navigation Desktop
-------------------------------------------------- */

@media all and (min-width: 768px) {
	.primary-nav-wrap {
		display: block !important;
		background: #313131;
		color: #ababab;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;

		.container {

			ul.primary-menu {
				position: relative;
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;

				li {
					display: inline-block;
					background: #313131;
					padding-bottom: 1px;

					a {
						display: block;
						margin: 0px 20px 0px 20px;
						padding: 15px 0px 15px 0px;
						font-size: 12px;
						font-weight: 900;
						line-height: 1;
						color: #fff;
						text-decoration: none !important;
					}

					a:hover {
						margin: 0px 20px 0px 20px;
						padding: 15px 0px 15px 0px;
					}
				}

				li:hover {
					border-bottom: 1px solid #fff;
					padding-bottom: 0px;
				}

				li.has-children {

					.menu-child {
						display: none !important;
						position: absolute;
						top: 43px;
						left: 0;
						background: #313131;
						padding: 15px 25px 25px 25px;

						ul {
							margin-top: 5px;

							li {
								display: block;
								clear: both;
								float: none;
								margin: 0px 0px;
								padding: 0px 0px;

								a {
									display: inline-block;
									margin: 0px 0px 0px 0px;
									padding: 0px 0px 0px 0px;
									font-size: 12px;
									font-weight: 900;
									line-height: 1;
									color: #ababab;
								}

								a:hover {
									margin: 0px 0px 0px 0px;
									padding: 0px 0px 0px 0px;
									border-bottom: none;
									color: #fff;
								}
							}

							li:hover {
								border: none;
							}
						}

						h4.menu-item-sub-head {
							font-size: 12px;
							text-transform: uppercase;
							font-weight: 400;
							padding: 0px 0px 0px 0px;
							margin: 12px 0px 0px 0px;
						}
					}
				}

				li.has-children:hover .menu-child {
					display: block !important;
				}

				li.mobile-only {
					display: none !important;
				}
			}
		}

		.column-head {
			font-family: 'questaregular';
			color: #ababab;
			display: block;
			clear: both;
			float: none;
			padding-top: 15px;

			h3 {
				color: #ababab !important;
				margin: 0px 0px 0px 0px;
				padding: 0px 0px;
				font-style: italic;

				a {
					font-size: 24px !important;
					font-style: italic !important;
					color: #ababab !important;
					font-weight: 500 !important;
					line-height: 1.1 !important;
					margin: 0px 0px 0px 0px !important;
					padding: 0px 0px !important;
					text-transform: none !important;
				}

				a:hover {
					color: #fff !important;
				}
			}

			hr {
				margin: 13px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				border-top: 1px solid #ababab;
			}
		}

		h4.menu-item-sub-head {
			color: #ababab !important;
		}

		span.toggle-down {
			display: none !important;;
		}

		span.toggle-up {
			display: none !important;;
		}
	}

	.menu-child {
		#display: none;
	}

	.head-lower {
		display: block !important;
	}
}

/* Primary Navigation Tablet
-------------------------------------------------- */

@media all and (max-width: 991px) and (min-width: 768px) {

}

/* Primary Navigation Mobile
-------------------------------------------------- */

@media all and (max-width: 768px) {
	.primary-nav-wrap {
		display: none;

		.container {
			padding-right: 0;
			padding-left: 0;

			ul.primary-menu {
				margin-bottom: 0;
				padding-left: 0;

				li {
					display: block;
					clear:  both;
					float: none;
					background: #313131;
					border-bottom: 1px solid #676666;

					a {
						color: #fff;
						padding: 0px 15px;
						line-height: 38px;
					}

					a:hover {

					}

					ul {
						display: block;
					}
				}
			}

			li.mobile-only {
				display: block !important;
			}

			.menu-child ul,
			.menu-child ul li {
				background: #fff;
				border-bottom: none;
				margin: 0px 0px 0px 0px;
				padding: 5px 0px 5px 0px;
			}

			.menu-child ul li a {
				color: #313131;
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				line-height: 1;
				font-weight: 900;
				font-size: 14px;
			}
		}

		.column-head {
			font-family: 'questaregular';
			color: #ababab;
			display: block;
			clear: both;
			float: none;
			padding-top: 15px;

			h3,
			h3 a {
				color: #313131 !important;
				margin: 0px 0px 0px 0px !important;
				padding: 0px 0px !important;
				font-style: italic !important;
				text-transform: none !important;
			}

			hr {
				margin: 13px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				border-top: 1px solid #ababab;
			}
		}

		.menu-child {
			background: #fff;
			display: none;
			padding: 10px 15px 40px 15px;
		}

		h4.menu-item-sub-head {
			font-size: 12px;
			padding-top: 13px;
			text-transform: uppercase;
			font-weight: 400;
		}

		span.toggle-down {
			background: #313131 url('../img/toggle-down.png') 0px 50% no-repeat;
			display: inline-block;
			float: right;
			clear: right;
			height: 38px;
			width: 30px;
			margin-right: 15px;
			cursor: pointer !important;
		}

		span.toggle-up {
			background: #313131 url('../img/toggle-up.png') 0px 50% no-repeat;
			display: inline-block;
			float: right;
			clear: right;
			height: 38px;
			width: 30px;
			margin-right: 15px;
			cursor: pointer !important;
		}
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		background:rgba(49,49,49,0.95);
		z-index: 998;
		width: 100%;
		height: 100%;
		display: none;
	}

	.head-lower {
		display: none;
	}
}