// _resourcecenter.scss

/* Resource Center Child Global
-------------------------------------------------- */


/* Resource Center Child Desktop
-------------------------------------------------- */
@media all and (min-width: 768px) {
	
	.resource-center-child {
		margin-bottom: 0;
	}

	.resource-child-box-wrap {
		display: block;
		float: none;
		clear: both;
		margin: 0px auto 50px auto;
		max-width: 1000px;

		h3.section-head {

			a {
				color: #313131 !important;
				text-decoration: none !important;
			}
		}

		.box-content {
			display: block;
			clear: both;
			float: none;
			margin: 25px 0;
		}
	}
}

/* Resource Center Child Tablet
-------------------------------------------------- */

@media all and (max-width: 991px) and (min-width: 768px) {

}

/* Resource Center Child Mobile
-------------------------------------------------- */

@media all and (max-width: 768px) {

}