@import 'primarynav2';
@import 'global';
@import 'header';
@import 'homepage';
@import 'certificationcenter';
@import 'membership';
@import 'about';
@import 'careercenter';
@import 'events';
@import 'resourcecenter';
@import 'maintaincert';


@font-face {
	font-family: 'questaregular';
	src: url('../fonts/2-Questa_Regular-webfont.eot');
	src: url('../fonts/2-Questa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2-Questa_Regular-webfont.woff2') format('woff2'),
		 url('../fonts/2-Questa_Regular-webfont.woff') format('woff'),
		 url('../fonts/2-Questa_Regular-webfont.ttf') format('truetype'),
		 url('../fonts/2-Questa_Regular-webfont.svg#questaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.goudy {
	font-family: 'questaregular';
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover {
	outline:0px !important;
	-webkit-appearance:none;
}

.vc_row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.breadcrumbs-wrap {
	display: block;
	clear: both;
	float: none;
	padding: 15px 0px 0px 0px;
}

@media all and (min-width: 768px) {
	.gray {
		background: #f8f8f8;
		padding: 29px 23px;
	}

	.section-inner {
		padding: 50px 0;
	}
}

@media all and (min-width: 768px) {
	.gray {
		background: #f8f8f8;
		padding: 29px 23px;
	}

	.section-inner {
		padding: 50px 0;
	}
}

/* Membership
-------------------------------------------------- */
.section {
	display: block;
	clear: both;
	float: none;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;

	.full-width {
		max-width: 1000px;
		margin: 25px auto 0 auto;
	}

	.inner-title-wrap {
		display: block;
		clear: both;
		float: none;
		background: #4e4746;
		margin-bottom: 6px;

		h3 {
			color: #fff;
			line-height: 38px;
			padding-left: 15px;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.white-bg {
	background: #fff;
}

.gray-bg {
	background: #f8f8f8;
}

.darker-gray-bg {
	background: #f0f0f0;
}

.dark-gray-bg {
	background: #454545;
	color: #fff !important;
}

.blue-bg {
	background: #6799c8;
	color: #fff !important;
}

hr.dark {
	border-top: 1px solid #b5b4b4;
}

a.blue-btn {
	display: block;
	background: #6799c8 url("../img/white-arrow.png") no-repeat 94% 50%;
	color: #fff !important;
	padding: 5px 20px;
	font-size: 20px;
	letter-spacing: 1px;
	width: 310px;
	text-decoration: none !important;
	margin-top: 14px;
	text-align: left;
}

a.blue-btn:hover {
	background: #313131 url("../img/white-arrow.png") no-repeat 94% 50%;
}

.box {
	
	.inner {
		background: #f4f4f4;

		a.title {
			font-size: 17px;
			line-height: 1;
			font-weight: 900;
		}

		p.top {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		p.bottom {
			font-size: 18px;
		}
	}
}

.below-memberships {
	display: block;
	clear: both;
	float: none;
	margin-top: 25px;
}

/* Footer
-------------------------------------------------- */

.footer-partners-wrap {
	background: #f8f8f8;
	padding: 50px 0;

	img.partner-logo {
		width: auto;
		height: 134px;
		padding: 0 14px;
	}
}

a.partners-cta {
	background: url('../img/right-arrow.png') 100% 0 no-repeat;
	padding-right: 37px;
	display: inline-block;
	height: 24px;
	line-height: 15px;
	font-size: 22px;
}

footer#footer,
#footer {
	background: #313131;
	text-align: center;
	color: #fff;
	padding-top: 65px;
	padding-bottom: 51px;

	a {
		color: #fff !important;
		text-decoration: none !important;
	}

	img.footer-logo {
		display: block;
		width: 140px;
		height: 91px;
		margin-right: auto;
		margin-bottom: 43px;
		margin-left: auto;
	}

	nav#footer-nav {
		text-align: center;

		ul#footer-menu {
			display: inline-table;
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 0;

			li {
				display: inline-block;
				float: left;

				a {
					text-transform: uppercase;
					font-weight: 900;
				}

				a:hover {

				}
			}

			li:after {
				content: '|';
				padding: 0 12px;
			}

			li.last:after {
				content: none !important;
			}
		}
	}

	.footer-contact-wrap {
		margin-bottom: 16px;

		p {
			letter-spacing: 1px;
			padding: 0 !important;
			margin-bottom: 0 !important;
		}
	}
}

@media all and (max-width: 768px) {
	.footer-partners-wrap {
		padding: 20px;
	}
}

a.back-to-top {
	display: block;
	float: right;
	background: #41505f;
	color: #fff !important;
	text-decoration: none !important;
	padding: 13px 30px;
	margin-top: -46px;
}

.clear,
.clear:after {
	display: block;
	clear: both;
	float: none;
	width: 100%;
}