/*
Theme Name: AFCPE
Theme URI: http://afcpe.com/
Author: Nathanael Gray
Author URI: http://jumpkickco.com/
Description: A proprietary theme framework for AFCPE.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar
Text Domain: afcpe

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* Helpers
-------------------------------------------------- */
.clear,
.clear:after {
	display: block;
	clear: both;
	float: none;
	width: 100%;
}
